---
layout: allblogs
title: Recent Speaking Engagements
max_engagements: 10
type: speaking
---
<a href='/speaking/all/index.html' class='more'>View all Speaking Engagements...</a>
<h1 class='no-articles hidden'>No Speaking Engagements Found</h1>
{% for post in site.categories.speaking limit:page.max_engagements %}
  <article>
  <a class='portrait-link' href="/blogs/{{ post.categories[1]}}"><img class='blog-img' src="{{ post.categories[1] | user_image }}"/></a>
  <div class="blog-info">{% include post-list-item-with-tags.html %}</div>
  </article>
{% endfor %}
<a href='/speaking/all/index.html' class='more'>View all Speaking Engagements...</a>
