---
layout: homepage
title: near infinity
impact_duration_seconds: 10
max_news: 2
max_blogs: 2
max_speaking: 2
max_techtalks: 1
news_expire_days: 30
speaking_expire_days: 0
---
{%capture news_markup%}{{ 'homepage/news.html' | render_recent_news:page.max_news days_expire:30 }}{%endcapture %}
{% assign has_news = false %}{% if news_markup.size > 0 %}{% assign has_news = true %}{%endif%}

<section id="aboutnic" class="{% if has_news %}has_news{% endif %}">
  <hgroup>
    <h1>ABOUT NEAR INFINITY</h1>
    {% include_markdown homepage/about_nearinfinity.md %}

    <section class="about-fast">
      <h1>FAST</h1>
      <p>Delivering great software, fast
    </section> 
    <section class="about-agile">
      <h1>AGILE</h1>
      <p>Using effective, customer-centric Agile development practices
    </section> 
    <section class="about-best">
      <h1>BEST</h1>
      <p>Hiring only the most qualified and passionate technologists
    </section> 
  </hgroup>

  {% if has_news %}
  <section id="news">
    <h1>NEWS</h1>
    {{news_markup}}
  </section>
  {% endif %}

</section>

{%capture speaking_markup%}{{ 'homepage/speaking.html' | render_future_speaking:page.max_speaking }}{%endcapture %}
{% assign has_speaking = false %}{% if speaking_markup.size > 0 %}{% assign has_speaking = true %}{%endif%}
<section id="techcommunity" class="{% if has_speaking %}has_speaking{% endif %}">
  <h1>TECHNICAL COMMUNITY</h1>

  <section class="techtalks">
    <h1>TECH TALKS</h1>
    {{ page.max_techtalks | render_homepage_techtalks }}
    <a class="morelink" href="/techtalks">more tech talks</a>
  </section>

  <section class="blogs">
    <h1>BLOGS</h1>
    {{ page.max_blogs | render_homepage_blogs }}

    <a class="morelink" href="/blogs">more blogs</a>
  </section>


  {% if has_speaking %}
  <section class="speaking">
    <h1>SPEAKING</h1>
    {{ speaking_markup }}
    <a class="morelink" href="/speaking">more speaking engagements</a>
  </section>
  {% else %}
    <section class="moreblogs">
      <h1>&nbsp;</h1>
      {{ page.max_blogs | render_homepage_blogs:page.max_blogs }}
      <a class="morelink" href="/blogs">more blogs</a>
    </section>
  {% endif %}

  <ul class="morelinks">
    <li class="morelinks-talks"><a href="/techtalks">more tech talks</a></li>
    <li class="morelinks-blogs"><a href="/blogs">more blogs</a></li>
    <li class="morelinks-speaking"><a href="/speaking">more speaking engagements</a></li>
  </ul>
</section>


