---
layout: homepage
title: near infinity
max_news: 2
max_blogs: 2
max_speaking: 2
max_techtalks: 1
news_expire_days: 30
speaking_expire_days: 0
---
{% capture siteYear %}{{ site.time | date: "%Y" }}{% endcapture %}
{% capture siteDay %}{{ site.time | date: "%j" }}{% endcapture %}

{% assign has_news = false %}
{% if site.categories.news.size > 0 %}
  {% comment %} 
  Long way to find the age of the news item based on site build date

  (siteYear - newsYear) * 365 + (siteDay - newsDay) = # of days posted from site build

  Don't display any news it the first item (latest) is older than news_expire_days defined at top of page
  {% endcomment %}
  {% capture newsYear %}{{ site.categories.news.first.date | date: "%Y" }}{% endcapture %}
  {% capture newsDay %}{{ site.categories.news.first.date | date: "%j" }}{% endcapture %}
  {% capture daysBetween %}{{ siteDay | minus:newsDay }}{% endcapture %}
  {% capture daysBetweenWithYears %}{{ siteYear | minus:newsYear | times:365 | plus:daysBetween }}{% endcapture %}
  {% capture difference %}{{ page.news_expire_days | minus:daysBetweenWithYears }}{% endcapture %}

  {% comment %}If the difference is negative than don't show{% endcomment %}
  {% unless difference contains '-' %} 
    {% assign has_news = true %}
  {% endunless %}
{% endif %}

<section id="aboutnic" class="{% if has_news %}has_news{% endif %}">
  <hgroup>
    <h1>ABOUT NEAR INFINITY</h1>
    {% capture about_content %}{% include homepage/about_nearinfinity.md %}{% endcapture %}
    {{ about_content | unindent | markdownify }}

    <section class="about-fast">
      <h1>FAST</h1>
      <p>Delivering great software, fast
    </section> 
    <section class="about-agile">
      <h1>AGILE</h1>
      <p>Using effective, customer-centric Agile development practices
    </section> 
    <section class="about-best">
      <h1>BEST</h1>
      <p>Hiring only the most qualified and passionate technologists
    </section> 
  </hgroup>

  {% if has_news %}
  <section id="news">
    <h1>NEWS</h1>
    {% for news in site.categories.news limit:page.max_news %}
      <article>
      <h2><a href="{{ news.url }}">{{ news.title | upcase }}</a></h2>
        <p>
          {% if news.excerpt %}
            {{ news.excerpt }}
          {% else %}
            {{ news.content | truncatewords:25 }}
          {% endif %}
        </p>
      </article>
    {% endfor %}
  </section>
  {% endif %}

</section>


{% assign has_speaking = false %}
{% if site.categories.speaking.size > 0 %}
  {% capture speakingYear %}{{ site.categories.speaking.first.date | date: "%Y" }}{% endcapture %}
  {% capture speakingDay %}{{ site.categories.speaking.first.date | date: "%j" }}{% endcapture %}
  {% capture daysBetween %}{{ speakingDay | minus:siteDay }}{% endcapture %}
  {% capture daysBetweenWithYears %}{{ speakingYear | minus:siteYear | times:365 | plus:daysBetween }}{% endcapture %}
  {% capture difference %}{{ page.speaking_expire_days | minus:daysBetweenWithYears }}{% endcapture %}
  {% if difference contains '-' %} 
    {% assign has_speaking = true %}
  {% endif %}
{% endif %}

<section id="techcommunity" class="{% if has_speaking %}has_speaking{% endif %}">
  <h1>TECHNICAL COMMUNITY</h1>

  <section class="techtalks">
    <h1>TECH TALKS</h1>
    {% for post in site.categories.techtalks limit:page.max_techtalks %}
    <figure>
      <a href="{{ post.url }}">
        <img src="{{ post.thumbnail_320 }}"/>
        <figcaption>{{ post.title }}</figcaption>
      </a>
    </figure>
    {% include sharing-inline.html %}
    {% endfor %}
    <a class="morelink" href="/techtalks">more tech talks</a>
  </section>

  <section class="blogs">
    <h1>BLOGS</h1>
    {% for post in site.categories.blogs limit:page.max_blogs %}
    <article>
      <img src="assets/images/users/{{ post.categories[1] }}.png"/>
      {% include post-list-item.html %}
    </article>
    {% endfor %}
    <a class="morelink" href="/blogs">more blogs</a>
  </section>

  {% if has_speaking %}
  <section class="speaking">
    <h1>SPEAKING</h1>
    {% for post in site.categories.speaking limit:page.max_speaking %}
    <article>
      <img src="assets/images/users/{{ post.speaker | downcase | replace:' ','_' }}.png"/>
      {% include speaking-list-item.html %}
    </article>
    {% endfor %}
    <a class="morelink" href="/speaking">more speaking engagements</a>
  </section>
  {% else %}
    <section class="moreblogs">
      <h1>&nbsp;</h1>
      {% for post in site.categories.blogs limit:page.max_blogs offset:page.max_blogs %}
      <article>
        <img src="assets/images/users/{{ post.categories[1] }}.png"/>
        {% include post-list-item.html %}
      </article>
      {% endfor %}
      <a class="morelink" href="/blogs">more blogs</a>
    </section>
  {% endif %}

  <ul class="morelinks">
    <li class="morelinks-talks"><a href="/techtalks">more tech talks</a></li>
    <li class="morelinks-blogs"><a href="/blogs">more blogs</a></li>
    <li class="morelinks-speaking"><a href="/speaking">more speaking engagements</a></li>
  </ul>
</section>


