---
layout: default
title: near infinity
max_news: 2
news_expire_days: 30
---

<header id="main">
  <hgroup>
    <h1 class="logo">Near Infinity</h1>
  <nav>
    <ol>
      <li>home</li>
      <li>what we do</li>
      <li>who we are</li>
      <li>join us</li>
    </ol>
  </nav>
  </hgroup>
  <hr>
  <article>
    <h1>MOBILE</h1>
    <h2>
    {% capture impact_mobile %}{% include homepage/impact_mobile.md %}{% endcapture %}
    {{ impact_mobile | unindent | markdownify }}
    </h2>
    <img class="article-links" src="assets/images/dots.png"/>
  </article>
  <figure><div></figure>
  <ol class="nextprev">
    <li class="previous">&lt;</li>
    <li class="next">&gt;</li>
  </ol>
</header>

{% assign has_news = false %}
{% if site.categories.news.size > 0 %}
  {% comment %} 
  Long way to find the age of the news item based on site build date

  (siteYear - newsYear) * 365 + (siteDay - newsDay) = # of days posted from site build

  Don't display any news it the first item (latest) is older than news_expire_days defined at top of page
  {% endcomment %}
  {% capture siteYear %}{{ site.time | date: "%Y" }}{% endcapture %}
  {% capture siteDay %}{{ site.time | date: "%j" }}{% endcapture %}
  {% capture newsYear %}{{ site.categories.news.first.date | date: "%Y" }}{% endcapture %}
  {% capture newsDay %}{{ site.categories.news.first.date | date: "%j" }}{% endcapture %}
  {% capture daysBetween %}{{ siteDay | minus:newsDay }}{% endcapture %}
  {% capture daysBetweenWithYears %}{{ siteYear | minus:newsYear | times:365 | plus:daysBetween }}{% endcapture %}
  {% capture difference %}{{ page.news_expire_days | minus:daysBetweenWithYears }}{% endcapture %}

  {% comment %}If the difference is negative than don't show{% endcomment %}
  {% unless difference contains '-' %} 
    {% assign has_news = true %}
  {% endunless %}
{% endif %}

<section id="aboutnic" class="{% if has_news %}has_news{% endif %}">
  <hgroup>
    <h1>ABOUT NEAR INFINITY</h1>
    {% capture about_content %}{% include homepage/about_nearinfinity.md %}{% endcapture %}
    {{ about_content | unindent | markdownify }}

    <section class="about-fast">
      <h1>FAST</h1>
      <p>Delivering great software, fast
    </section> 
    <section class="about-agile">
      <h1>AGILE</h1>
      <p>Using effective, customer-centric Agile development practices
    </section> 
    <section class="about-best">
      <h1>BEST</h1>
      <p>Hiring only the most qualified and passionate technologists
    </section> 
  </hgroup>

  {% if has_news %}
  <section id="news">
    <h1>NEWS</h1>
    {% for news in site.categories.news limit:page.max_news %}
      <article>
      <h2><a href="{{ news.url }}">{{ news.title | upcase }}</a></h2>
        <p>
          {% if news.excerpt %}
            {{ news.excerpt }}
          {% else %}
            {{ news.content | truncatewords:25 }}
          {% endif %}
        </p>
      </article>
    {% endfor %}
  </section>
  {% endif %}

</section>


<!-- 

<section class='latestnews'>
    <h1>WHAT WE'RE UP TO</h1>

    <section class="news">
      <h1>NEWS</h1>
      <article>
        <h1>Near Infinity Named One of the Top 25 Best Small-Sized Companies to Work for in America</h1>
        <p>Near Infinity Corporation was named one of this year's 50 Best Small and Medium Companies to Work For by the Great Place to Work Institute</p>
      </article>
      <article>
        <h1>NIC adopts 138 kids for the holidays!</h1>
        <p>Near Infinity this year adopted 138 children, seniors, and adults through Reston Interfaith's Gifts For Kids drive, a program which helps...</p>
      </article>

      <h1>BLOGS</h1>
      <article class='blog'>
        <img src="assets/images/users/jason.png"/>
        <h1>Mock NSDate (or other) class methods</h1>
        <h2>Jason Harwig on Apr 3, 2012</h1>
        <p>Today I ran into an issue unit testing a method that called...</p>
      </article>
      <article class='blog'>
        <img src="assets/images/users/jeff.png"/>
        <h1>Automatic Code Coverage Switching for Vows.js</h1>
        <h2>Jeff Kunkle on Mar 27, 2012</h1>
        <p>If you've used Node.js lately you've likely run across...</p>
      </article>
    </section>

    <section class="info">
      <h1>TRAINING FACILITY</h1>
      <img src="assets/images/training_facility.jpg"/>
      <p>Looking for a great place to hold a training event? 
      <p><a href="#">Book it</a> for your event.

      <h2>Upcoming Events</h2>
      <ol>
        <li>
          <h3>Sencha Touch 2 Bootcamp</h3>
          Apr 28-30, 2012 by Modus Create
        </li>
      </ol>
    </section>
</section>
-->

<footer>
  <section>
    <h1>what we do</h1>
    <ol>
      <li>big data</li>
      <li>mobile</li>
      <li>trusted apps</li>
    </ol>
  </section>
  <section>
    <h1>products</h1>
    <ol>
      <li>Blur</li>
      <li>Clearance Track</li>
      <li>open source</li>
    </ol>
  </section>
  <section>
    <h1>who we are</h1>
    <ol>
      <li>our blog</li>
      <li>NIC-U</li>
    </ol>
  </section>
  <section>
    <h1>join us</h1>
    <ol>
      <li>benefits</li>
      <li>open positions</li>
      <li>internship program</li>
    </ol>
  </section>
  <section>
    <h1>connect</h1>
    <ol>
      <li>twitter</li>
      <li>youtube</li>
      <li>github</li>
    </ol>
  </section>
  <section>
    <h1>contact</h1>
    <ul>
      <li class="addr">1881 Campus Commons Drive<br>Suite 205<br>Reston, VA 20191</li>
      <li>703-904-7505 (phone)</li>
      <li>703-904-3043 (fax)</li>
      <li>info@nearinfinity.com</li>
    </ul>
      
  </section>
  <p class='copyright'>&copy; Near Infinity, {{ site.time | date: "%Y" }}</p>
</footer>

