{% assign blog_count = '' %}
{% for post in site.posts %}  
  {% if post.categories[0] == 'blogs' and post.categories[1] == page.user %}
    {% capture blog_count %}{{ blog_count }}*{% endcapture %}
  {% endif %}
{% endfor %}
{% if blog_count.size > 0 %}
  <h1>Blogs by {{page.name}}</h1>
  <ul>
    {% assign blog_count = '' %}
    {% for post in site.posts %}  
      {% if post.categories[0] == 'blogs' and post.categories[1] == page.user and blog_count.size < 5 %}
        <li>
          {% include post-list-item.html %}
        </li>
        {% capture blog_count %}{{ blog_count }}*{% endcapture %}
      {% endif %}
    {% endfor %}
    {% if blog_count.size == 0 %}
      <li>No Blogs</li>
    {% endif %}      
  </ul>
{% endif %}