{% assign speak_count = '' %}
{% for post in site.posts %}
  {% if post.categories[0] == 'speaking' and post.categories[1] == page.user%}
    {% capture speak_count %}{{ speak_count }}*{% endcapture %}
  {% endif %}
{% endfor %}
{% if speak_count.size > 0 %}
  <h1>Speaking Engagements</h1>
  <ul>
    {% assign speak_count = '' %}
    {% for post in site.posts %}
      {% if post.categories[0] == 'speaking' and post.categories[1] == page.user and speak_count.size < 2 %}
        <li>
          {% include post-list-item.html %}
        </li>
        {% capture speak_count %}{{ speak_count }}*{% endcapture %}
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}