{% assign talk_count = '' %}
{% for post in site.posts %}
  {% if post.categories[0] == 'techtalks' and post.categories[1] == page.user%}
    {% capture talk_count %}{{ talk_count }}*{% endcapture %}
  {% endif %}
{% endfor %}
{% if talk_count.size > 0 %}
  <h1>Tech Talks</h1>
  <ul>
    {% assign talk_count = '' %}
    {% for post in site.posts %}
      {% if post.categories[0] == 'techtalks' and post.categories[1] == page.user and talk_count.size < 3 %}
        <li>
          {% include post-list-item.html %}
        </li>
        {% capture talk_count %}{{ talk_count }}*{% endcapture %}
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}