
body > section {
  .clearfix;
}

//
// DEFAULT STYLING IS MOBILE
//
//  Media Queries add styling for larger displays 
//

header#main {
  position: relative;
  .clearfix;

  h1.logo, nav, article { position: relative; z-index: 10; }

  hgroup {
    height: 102px;
    position: relative;
    .clearfix;

    h1.logo {
      .pad;
      margin-left:9.5%;
      position:absolute;
      left: -2px;
      z-index:11;
      height: 84px;
    }

    nav {
      clear: left;
      position: relative;
      top: 69px;
      .clearfix;

      ol { 
        .column(11);
        .pull(1);
        li { 
          .size(1);
          margin-left: 1em;
          padding: 0.5em 0;
          display: inline-block;
          &:first-child { display: none; }
        }
      }
    }
  }

  @media screen and (min-width:24em) {
    hgroup nav ol li:first-child { 
      display:inline-block;
    }
  }

  // Move Menu bar up if it can fit to right of logo
  @media screen and (min-width:48em) {
    hgroup { 
      height: 69px;
      nav { 
        top: 36px;
        .push(1);
      }
    }
  }

  article { 
    .column(8);
    .push(1);
  }
  ol.links {
    clear:left;
  }
  .nextprev {
    position: absolute;
    top: 50%;
    width: 100%;

    li {
      width: 1.5em;
      position: absolute;
      &.previous {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }
  }
  figure {
    .column(3);
    margin-right: 0;
    position:absolute;
    bottom: 0;
    top: 0;
    right: 0;
    div {
      position:absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
    }
  }
  @media screen and (min-width: 40em) {
    .nextprev li {
      width: 2em;
      .size(10);
      height: 3em;
      line-height: 3em;
    }
    article { .column(5); .push(1); }
    figure { .column(6); margin-right: 0; }
  }
}


#aboutnic {
  .band-strip;

  hgroup {
    .pad;
    section {
      float: left;
      text-align: center;
      width: 100% / 3;
      h1 {
        margin-bottom: 0;
        .light_header(@nic_orange);
        .size(10);
      }
      h1:after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        border: 0;
        margin: auto;
        background: url(../images/icons/sprite.png);
      }
      &.about-fast h1:after {
      }
      &.about-agile h1:after {
        background-position: -50px 0;
      }
      &.about-best h1:after {
        background-position: -100px 0;
      }

      & > * {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
  #news {
    .pad;
  }

  @media screen and (min-width: 50em) {

    &.has_news { 
      hgroup { 
        .column(6);
        .push(1);
      }
      #news {
        .column(3);
        .push(1);
      }
    }
  }
}


#techcommunity {
  .band-strip;

  & > h1 {
    .pad;
  }
  & > section {
    .pad;
  }
  .techtalks figure { margin: auto; }
  .moreblogs { display:none; }

  @media screen and (min-width:33em) {
    .techtalks {
      .column(4);
      .push(1);
      figure { margin: 0; }
    }
    .blogs { .column(6); }

    &.has_speaking {
      .speaking {
        .column(3);
        .pull(1);
      }
    }
  }
  @media screen and (min-width:50em) {
    .blogs { .column(3); }
    .moreblogs { .column(3); }
  }
}


footer {
  .pad;

  section {
    width: 100 / 2%;
    float: left;
    margin-top: 1em;
    padding-right: 10px;
    .box-sizing;
    &:nth-child(2n+1) {
      clear:left;
    }
  }

  @media screen and (min-width: 42em) {
    section {
      width: 100 / 3%;
      &:nth-child(n) {
        clear:none;
      }
      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }

  @media screen and (min-width: 65em) {
    section {
      width: 100 / 6%;
      &:nth-child(n) { 
        clear: none;
      }
    }
  }

  .copyright {
    clear:left;
    padding-top: 1em;
    margin-bottom: 1em;
  }
}

