
@import 'util/util';
@import 'semantic-grid/grid';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;
@total-width: 100%;

@import 'structure';

// SYNTAX HIGHLIGHTING
@import '../css/pygments-dark.css';


////////////
// LAYOUT //
////////////


body {
  background: url(../images/footer-background.png) repeat;
  color: @light_text;
}

a {
  color: @darker_text;
}


header#main {
  background: @impact_background;
  &.homepage {
    min-height: 430px;
  }

  hgroup {
    background: url(../images/white-stripe-pattern.png) repeat;

    h1.logo {
      .hide-text;
      background: url(../images/logo-background.png) no-repeat left top;
      height: 69px;
    }
    a {
      position: absolute;
      width: 252px;
      display: block;
      height: 70px;
      z-index: 11;
      left: 7%;
    }
  }
  nav {
    background: rgba(0,0,0,0.6);
    color: white;
    ol { 
      text-align: right;
      li { 
        .size(4);
      }
    }
  }
  hr {
    border: 1px solid lighten(@impact_background, 7%);
    height: 0px;
  }
  article {
    color: @light_text;
    padding: 3em 0;

    h1 {
      .light_header(@light_text);
      .size(25);
    }
    h2 {
      color: lighten(@light_text, 15%);
      .size(3);
      line-height: 1.4em;
    }
    .article-links {
      position: relative;
      left: -6px;
    }
  }
  .nextprev {
    margin: 0;

    li {
      opacity: 0.8;
      text-align: center;
      background: darken(@impact_background, 5%);
      border: 1px solid darken(@impact_background, 10%);
      color: darken(@impact_background, 20%);
      .border-radius(3px);
      .text-shadow(0 -1px 1px darken(@impact_background, 40%));
      .size(8);
      height: 3em;
      line-height: 3em;
    }
  }
  figure div {
    margin-left: -200px;
    background: url(../images/mobile-impact.png) 15px -14px no-repeat;
  }
}

#aboutnic {
  background: url(../images/dark-texture.png) repeat;
  color: darken(white, 5%);
  .box-shadow(0 -5px 5px fadeout(black, 50%) inset, 0 1px 2px fadeout(black, 50%) inset);

  hgroup {
    h1 {
      .light_header(white);
      .size(20);
    }
    p em {
      color: @nic_orange;
    }
  }
  #news {
    h1 { 
      .light_header(@nic_orange);
      .size(13);
    }
    article {
      h2 {
        .size(4);
        .plain-anchor;
        margin-bottom: 0;
      }
    }
  }


}

#techcommunity {
  color: @impact_background;
  padding-bottom: 1em;
  #gradient > .vertical-overlay(url(../images/leather.jpg), rgba(0,0,0,0.1) ~"," transparent 5% ~"," transparent 95% ~"," rgba(0,0,0,0.1));

  & > h1 {
    .light_header(white);
    .size(20);
    margin-bottom: 1em;
  }

  .techtalks {
    img { max-width: 100%; }
  }
  .blogs, .speaking, .moreblogs {
    article { 
      position: relative;
      min-height: 6em;
      padding-left:65px;
      h1 {
        font-weight: bold;
        margin-bottom:0;
        color: darken(@light_text, 10%);
        .plain-anchor;
      }
      h2 {
        font-size: 90%;
        color: darken(@light_text, 5%);
      }
    }
    
    img { 
      max-width:60px;
      position: absolute;
      left: 0;
      top: -8px; 
    }
  }
}
/*
section.presentations {
  background: url(../images/leather.jpg) repeat-x;
  color: @impact_background;
  h1 {
    .size(15);
    .light_header(@darker_text);
    margin-top: 1em;
    margin-bottom: 1em;
  }
  ul {
    padding-bottom: 2em;
    li { 
      figcaption {
        background: fadeout(black, 70%);
        text-align: center;
      }
    }
  }
  img { 
    border: 5px solid rgba(0,0,0,0.1);
    .border-radius(3px);
  }

}

section.latestnews {
  background: @impact_background;
  .box-shadow(0 5px 10px black, 0 -1px 0 lighten(@impact_background, 5%) inset);

  & > h1 {
    .light_header(@light_text);
    .size(10);
    text-align: center;
    position: relative;
    margin: 1.5em 0;
  }
  section {
    & > h1 { 
      .light_header(@nic_orange);
    }
  }
  section.news {
    article.blog {
      clear: left;
      img {
        float: left;
        margin-left: -13px;
        margin-top: -6px;
      }
      h1 {
        margin-bottom: 0.25em;
      }
      h2 {
        .size(0);
        margin-bottom: 0.25em;
      }
      p {
        clear: right;
      }
    }
  }
  section.info {
    text-align: center;
    a { font-weight: bold; }
    img {
      width: 45%;
      float: right;
      border: 5px solid white;
      margin: 5px;
      .rotate(5deg);
      .box-sizing;
      .box-shadow;
    }
    h2 {
      .size(4);
    }
    li {
      color: lighten(@light_text, 10%);
      .size(-1);
      h3 {
        .size(3);
        color: @light_text;
        margin-bottom: 0.25em;
      }
    }
    & * { text-align: left; }
  }
  section {
    h1 { .size(3); }
    h2 { .size(2); }
    h3 { .size(1); }
  }
}
*/

footer {
  color: black;

  a {
    color: inherit;
  }

  .copyright {
    color: lighten(black, 10%);
    .font_size(-2);
  }
}

