

// New image replacement
// -------------------------
// Source: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.mono {
  font-family: Menlo, Monaco, Consolas,'Lucida Console', monospace;
}

.pad(@num:1,@columns:@columns) {
  .column(@columns - @num * 2);
  .push(@num);
}

.debug {
  background: rgba(0,255,0,0.5);
}

.header-colored-plus {
  @color: #93A7AC;
  @font: 'Lucida Grande', Arial, Helvetica, sans-serif;
  h1 {
    .text-shadow(0 0 0 transparent);
    color: @color;
    margin-top: 0;
    font-family: @font;
    font-weight: normal;
    text-transform: none;
    em {
      color: rgb(255, 197, 48);
      font-size: 1.2em;
    }
  }
  h2 {
    .size(10);
    font-family: @font;
    line-height: 1.3em;
    letter-spacing: 0;
    color: @color;
  }
}

.plain-strip, .band-strip { 
  clear: left;
  padding: 4em 0;
  overflow: hidden;
  aside {
    h3 {
      .size(2);
      color:@nic_orange;
      margin-bottom:0;
      margin-top:1em;
    }
  }
  & > * { .pad; } 
  @media screen and (min-width: 90em) {
    & > * { .pad(2); } 
  }
}

.band-colors {
  h1 {
    .light_header(white);
    .text-shadow(-3px 2px 2px fade(black, 30%));
    .size(20);
    padding-bottom:.5em;
    text-transform: uppercase;
  }

  h2 {
    .light_header_shadowless(@nic_orange);
    .size(15);
    margin-bottom:.5em;
  }

  h3 {
    .light_header_shadowless(black);
    .size(4);
    margin-bottom:.5em;
  }
  aside {
    h3 {
      .size(2);
      color:@nic_orange;
      margin-bottom:0;
      margin-top:1em;
    }
  }
}
.band-strip { 
  color:@impact_background;
  .band-colors;
}

.gray-band {
  color: @impact_background;
  background: url('/assets/images/irongrip.png') repeat;
  h3 {
    .light_header_shadowless(@nic_orange);
  }
  a{
      color:white;
      &:hover{
        color:@nic_orange;
      }
  }
}
.black-band{
  background: url('/assets/images/fake_brick.png') repeat;
  a{
      color:white;
      &:hover{
        color:@nic_orange;
      }
  }
}
.orange-band{
  background: url('/assets/images/cartographer_orange.png') repeat;
  color: @impact_background;
  a{
    color:@impact_background;
  }
}

.plain-anchor {
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color:@nic_orange
    }
  }
}

.fancy-shadow {
  .box-shadow(-2px 2px 0 rgba(255,255,255,0.6), -5px 5px 0 rgba(0,0,0,0.1));
}


.banner(@color) {
  .size(3); 
  display: inline-block;
  padding: 1em;
  padding: 0.5em 20px;
  margin-left: -20px;
  position: relative;
  z-index: 1;
  #gradient > .multiple-vertical(lighten(@color, 10%), @color 50%, darken(@color, 5%) 50%, darken(@color, 10%));
  background-color: @color;

  .box-shadow(1px 1px 8px fadeOut(darken(rgb(211,104,16),5%), 70%));
  border: 1px solid darken(@color, 10%);
  .text-shadow(1px 1px 0 darken(@color, 20%));
  em {
    color: @nic_orange;
  }

  a { text-decoration: none; color: white }

  &:before, &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  }
  &:before {
    width: 200px;
    left: -200px;
    bottom: -10px;
    z-index: -1;
    height: 10px;
    margin-left:20px;
    #gradient > .vertical(lighten(@color, 5%), darken(@color, 10%));
    opacity: 0.5;
    display: none;
  }
  &:after {
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: @color @color transparent transparent;
    z-index: -1;
    margin-top: 1px;
  }
}

.triangled-list {
  margin-bottom:.5em;
  text-indent:-3.3em;
  padding-left:3.3em;
  &:before{
    content:'▶';
    font-family: 'Arial Black';
    color: @nic_orange;
    margin:0 15px;
  }
}

.selected-impact {
  opacity: 1;
  height:auto;
  left: 0;
}
