
  <footer>
    <section>
      <h1>what we do</h1>
      <ol>
        <li>big data</li>
        <li>mobile</li>
        <li>trusted apps</li>
      </ol>
    </section>
    <section>
      <h1>products</h1>
      <ol>
        <li>Blur</li>
        <li>Clearance Track</li>
        <li>open source</li>
      </ol>
    </section>
    <section>
      <h1>who we are</h1>
      <ol>
        <li>our blog</li>
        <li>NIC-U</li>
      </ol>
    </section>
    <section>
      <h1>join us</h1>
      <ol>
        <li>benefits</li>
        <li>open positions</li>
        <li>internship program</li>
      </ol>
    </section>
    <section>
      <h1>connect</h1>
      <ol>
        <li>twitter</li>
        <li>youtube</li>
        <li>github</li>
      </ol>
    </section>
    <section>
      <h1>contact</h1>
      <ul>
        <li class="addr">1881 Campus Commons Drive<br>Suite 205<br>Reston, VA 20191</li>
        <li>703-904-7505 (phone)</li>
        <li>703-904-3043 (fax)</li>
        <li>info@nearinfinity.com</li>
      </ul>
        
    </section>

    <aside>
      
      <a href="/training_center">
        <p>Looking for a great place to hold an event?</p>
        <h1>Book the <em>NIC Training Center</em></h1>
      </a>
    </aside>
    <p class='copyright'>&copy; Near Infinity, {{ site.time | date: "%Y" }}</p>
  </footer>
