
  <footer>
    <section>
    <h1><a href="/what_we_do">what we do</a></h1>
      <ol>
        <li><a href='/what_we_do/big_data'>big data</a></li>
        <li><a href='/what_we_do/mobile'>mobile</a></li>
        <li><a href='/what_we_do/trusted_apps'>trusted apps</a></li>
      </ol>
    </section>
    <section>
      <h1>products</a></h1>
      <ol>
        <li><a href='http://www.blur.io'>Blur</a></li>
        <li><a href='http://www.clearancetrack.com'>Clearance Track</a></li>
        <li><a href='/products/open_source'>open source</a></li>
      </ol>
    </section>
    <section>
      <h1><a href="/who_we_are">who we are</a></h1>
      <ol>
        <li><a href='/blogs'>our blogs</a></li>
        <li><a href='/who_we_are/nic_u'>NIC-U</a></li>
      </ol>
    </section>
    <section>
      <h1><a href="/join_us">join us</a></h1>
      <ol>
        <li><a href='/join_us/benefits'>benefits</a></li>
        <li><a href='/join_us/open_positions'>open positions</a></li>
        <li><a href='/join_us/internship'>internship program</a></li>
      </ol>
    </section>
    <section class="social">
      <h1>connect</h1>
      <ol>
        <li><a class="twitter" target="_blank" href="http://www.twitter.com/nearinfinity">Twitter</a></li>
        <li><a class="facebook" target="_blank" href="https://www.facebook.com/NearInfinityCorporation">Facebook</a></li>
        <li><a class="you-tube" target="_blank" href="http://www.youtube.com/nearinfinity">YouTube</a></li>
        <li><a class="github" target="_blank" href="http://www.github.com/nearinfinity">GitHub</a></li>
      </ol>
    </section>
    <section class="contactus">
      <h1>contact</h1>
      <ul>
        <li><a class="addr" target="_blank" href="http://maps.google.com/?q=1881%20Campus%20Commons%20Drive%20Suite%20205%20Reston,VA%2020191">1881 Campus Commons Drive<br>Suite 205<br>Reston, VA 20191</a></li>
        <li class="phone icon">703-904-7505</li>
        <li class="fax icon">703-904-3043</li>
        <li><a class="email" target="_blank" href="mailto:info@nearinfinity.com">info@nearinfinity.com</a></li>
      </ul>
        
    </section>

    <aside>
      <a href="/training_center">
        <p>Looking for a great place to hold an event?</p>
        <h1>Book the <em>NIC Training Center</em></h1>
      </a>
    </aside>
    <p class='copyright'>&copy; Near Infinity, {{ site.time | date: "%Y" }}</p>
  </footer>

  <script type="text/javascript">
    if ('__proto__' in {}) {
      document.write("<script src='\/assets\/js\/zepto.js'><\/script>");
    }
    document.write("<script src='\/assets\/js\/app.js'><\/script>");
  </script>

