
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css"></link>
	
	<title>{{ page.title }}</title>
  <script>
    if (!'__proto__' in {}) {
      document.write("<script src=" + "/assets/js/jquery.js" + "></script" + ">");
    }
  </script>
  <!--[if lt IE 9]>
  <script src="/assets/js/selectivizr.js"></script>
  <script src="/assets/js/html5shim.js"></script>
  <![endif]-->
