
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <!--[if lt IE 9]> <base href="{{ site.host }}" /> <![endif]-->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css"></link>
	
	<title>{{ page.title }}</title>
  {% comment %}

  IE SCRIPTS ONLY!!!

  We need to load these here for the CSS to work
  but we should add other browser JS in the footer
  or in the actual page

  {% endcomment %}

<script type="text/javascript" language="javascript">llactid=22203</script> 
<script type="text/javascript" language="javascript" src="http://t6.trackalyzer.com/trackalyze.js"></script>

  <script>
    if (!('__proto__' in {})) {
      document.write("<script src='\/assets\/js\/jquery.js'><\/script>");
    }
  </script>
  <script type="text/javascript">

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-74388-1']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

  </script>
  <!--[if lte IE 9]>
  <link href="/assets/css/ie.css" rel="stylesheet" type="text/css"></link>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="/assets/js/selectivizr.js"></script>
  <script src="/assets/js/html5shim.js"></script>
  <![endif]-->
