<h1>Share this{% if type %} {{ type }}{% endif %}</h1>
<ul class="sharing">
  <li class="icon twitter"><a rel="nofollow" target="_blank" onclick="return shareLink(this, event)" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.host | cgi_escape }}{{ page.url | cgi_escape }}">Twitter</a></li>

  <li class="icon facebook"><a rel="nofollow" target="_blank" onclick="return shareLink(this, event)" href="http://www.facebook.com/share.php?u={{ site.host | cgi_escape }}{{ page.url | cgi_escape }}">Facebook</a></li>

  {% if type == 'news story' %}
    <li class="icon linked-in"><a rel="nofollow" target="_blank" onclick="return shareLink(this, event)" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.host | cgi_escape }}{{ page.url | cgi_escape }}&title={{ page.title }}&summary={{ page.content }}&source=Near%20Infinity">LinkedIn</a></li>
  {% endif %}
</ul>
