


footer {
  color: black;

  a {
    color: inherit;
  }

  section {
    .plain-anchor;
    h1 {
      font-weight: bold;
    }

    li {
      margin-bottom: 0.25em;
    }

    &.contactus, &.social {
      .sharing-links;
      li { 
        display: block;
        a {
          display: block;
        }
      }
      .phone, .fax { white-space: nowrap; }
    }
  }

  aside {
    clear: left;
    padding-top: 1em;
    color: #777;
    position: relative;
    p { 
      font-size: 90%;
      margin-bottom: 0.5em;
    }
    a {
      text-decoration: none;
    }
    h1 {
      .size(3); 
      display: inline-block;
      padding: 1em;
      padding: 0.5em 20px;
      margin-left: -20px;
      position: relative;
      #gradient > .vertical(white, #ccc);
      .box-shadow(1px 1px 8px rgba(0,0,0,0.1));
      border: 1px solid #CCC;
      border-bottom: 1px solid #AAA;
      em {
        color: @nic_orange;
      }

      &:before, &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      }
      &:before {
        width: 200px;
        left: -200px;
        top: 17px;
        z-index: -1;
        height: 30px;
        margin-left:20px;
        #gradient > .vertical(white, #ccc);
        opacity: 0.5;
      }
      &:after {
        left: 0px;
        top: 100%;
        border-width: 5px 10px;
        border-style: solid;
        border-color: #CCC #CCC transparent transparent;
        z-index: -1;
      }
    }
  }
  .copyright {
    float: right;
    color: lighten(black, 30%);
    .font_size(-2);
  }
}

