
.selected-impact {
  opacity: 1;
  height:auto;
  left: 0;
}

header#main {
  overflow: hidden;
  background: @impact_background;
  &.homepage {
    min-height: 372px;
  }

  hgroup {
    background: @white-stripe-data-url repeat;
    //#data-uris > .white-stripe;


    h1.logo {
      .hide-text;
      background: @logo-data-url no-repeat left top;
      height: 69px;
      width: 260px;
    }
    & > a {
      position: absolute;
      width: 252px;
      display: block;
      height: 70px;
      z-index: 11;
      left: 7%;
    }
    @media screen and (min-width:90em) {
      & > a { left: 17%; }
    }
  }
  nav {
    background: rgba(0,0,0,0.8);
    color: white;
    ol { 
      text-align: right;
      li { 
        .size(4);
        .plain-anchor;
      }
    }
  }
  hr {
    border: 1px solid lighten(@impact_background, 7%);
    height: 0px;
    margin: 0;
    padding: 0;
    border-bottom: 0;
  }
  article {
    color: @light_text;
    padding: 2em 0;
    position: absolute;
    opacity: 0;
    left: 0px;

    h1 {
      .light_header(darken(@light_text,10%);
      font-weight:bold;
      .size(30);
      margin-bottom:0.5em;
    }
    h2 {
      color: lighten(@light_text, 15%);
      .size(2);
      line-height: 1.4em;
    }
    h2.orange-title{
      color:@nic_orange;
      .size(15);
    }
  }

  figure.bigdata div { background: url(../images/impact/big-data.png) 15px 0px no-repeat; }
  figure.mobile div { background: url(../images/impact/mobile.png) 15px 0px no-repeat; }
  figure.trustedapps div { background: url(../images/impact/trusted-apps.png) 15px 0px no-repeat; }
  figure.joinus div { background: url(../images/impact/join-us.png) 15px 0px no-repeat; }



  @distance: 1500px;
  article {
    left: @distance;
    opacity: 0;
    .transition(~"all 0.3s ease-in-out");
  }
  figure div {
    opacity: 0;
    left: @distance;
    .transition(~"all 0.3s ease-in-out");
  }
  &.disable-animation {
    article {
      .transition(~"all 0 linear");
    }
    figure div {
      .transition(~"all 0 linear");
    }
  }

  &.end-transition {
    &.bigdata article.bigdata,
    &.mobile article.mobile,
    &.trustedapps article.trustedapps,
    &.joinus article.joinus,
    &.impact-item article.impact-item {
      position: relative;
    }
  }

  &.bigdata_left {
    article.bigdata { opacity: 0; left: -@distance; }
    figure.bigdata div { left: -@distance; opacity: 0; }
  }
  &.mobile_left {
    article.mobile { opacity: 0; left: -@distance; }
    figure.mobile div { left: -@distance; opacity: 0; }
  }
  &.trustedapps_left {
    article.trustedapps { opacity: 0; left: -@distance; }
    figure.trustedapps div { left: -@distance; opacity: 0; }
  }
  &.joinus_left {
    article.joinus { opacity: 0; left: -@distance; }
    figure.joinus div { left: -@distance; opacity: 0; }
  }

  &.bigdata {
    article.bigdata { .selected-impact; }
    figure.bigdata div { left: 0; opacity: 1; }
    .article-links a.bigdata { background-position:-150px -24px; }
  }
  &.mobile {
    article.mobile { .selected-impact; }
    figure.mobile div { left: 0; opacity: 1; }
    .article-links a.mobile { background-position:-150px -24px; }
  }
  &.trustedapps {
    article.trustedapps  { .selected-impact; }
    figure.trustedapps div { left: 0; opacity: 1; }
    .article-links a.trustedapps { background-position:-150px -24px; }
  }
  &.joinus {
    article.joinus { .selected-impact; }
    figure.joinus div { left: 0; opacity: 1; }
    .article-links a.joinus { background-position:-150px -24px; }
  }
  &.impact-item {
    article.impact-item { .selected-impact; }
    figure.impact-item div { left: 0; opacity: 1; }
  }


  .article-links {
    a {
      text-decoration: none;
      color: transparent;
      background: url(../images/icons/homepage-sprite.png) -150px 0 no-repeat;
      width: 25px;
      height: 25px;
      display: block;
      float: left;
    }
  }
  .nextprev {
    margin: 0;

    li {
      opacity: 0.8;
      text-align: center;
      background: darken(@impact_background, 5%);
      border: 1px solid darken(@impact_background, 10%);
      color: darken(@impact_background, 20%);
      .border-radius(3px);
      .text-shadow(0 -1px 1px darken(@impact_background, 40%));
      .size(8);
      a {
        height: 3em;
        display: block;
        line-height: 3em;
        text-decoration: none;
      }
    }
  }
}


body header#main.orange-band {
  .orange-band;
  article.impact-item { color: inherit; }
}
body header#main.band-colors {
  .band-colors;
}

