
#aboutnic {
  background: url('/assets/images/fake_brick.png') repeat;
  color: darken(white, 5%);
  .box-shadow(0 -5px 5px fadeout(black, 50%) inset, 0 1px 2px fadeout(black, 50%) inset);
  a{
  color:inherit;
  &:hover{
    color:@nic_orange;
  }
  }
  hgroup {
    position: relative;
    h1 {
      .light_header_shadowless(@nic_orange);
      .size(20);
    }
    p em {
      color: @nic_orange;
    }

    // Line separator
    &:after {
      content:'';
      width:1px;
      background: #333;
      height:90%;
      position:absolute;
      top: 0;
      left: 110%;
    }
  }
  #news {
    h1 { 
      .light_header_shadowless(@nic_orange);
      .size(13);
    }
    article {
      p{
        margin-bottom:2em;
      }
      h2 {
        .size(4);
        .plain-anchor;
        margin-bottom: 0;
      }
    }
  }
}

#techcommunity {
  color: @impact_background;
  background: url('/assets/images/irongrip.png') repeat;

  & > h1 {
    .light_header(white);
    .text-shadow(-3px 2px 2px fade(black, 30%));
    .size(20);
    margin-bottom: 1em;
  }

  & > section {
    & > h1 {
      .size(8);
      .light_header(@nic_orange);
      .text-shadow(-3px 2px 2px fade(black, 30%));
    }
  }

  .morelinks {
    li {
      text-align: right;
      color: darken(white, 10%);
      .plain-anchor;
    }
  }
  .morelink { margin-top: 1em; }

  section article:hover, .techtalks:hover {
    .sharing-links li a {
      opacity: 0.6;
      .transition(opacity linear 0.2s);
    }
  }
  .sharing-links li a {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    padding: 0;
    .transition(opacity linear 0.2s);
    &:before {
      background-image: url('/assets/images/icons/glyphicon-sprite.png');
      background-position-y: -20px;
    }
  }

  .techtalks {
    .sharing-links {
      max-width: 320px;
      margin: auto;
    }
    .morelink { clear: both; }
    figure {
      .plain-anchor;
      max-width: 320px;
      // move bottom up (since caption is moved up)
      margin-bottom: -1.5em;
    }
    figcaption {
      background: fadeout(black, 70%);
      text-align: center;
      margin: 0 2em;
      padding: 5px;
      position: relative;
      top: -2.5em;
      word-break: break-word;
    }
    img { 
      width: 100%;
      border: 5px solid rgba(0,0,0,0.1);
      .border-radius(3px);
      .box-sizing;
    }
  }
  .blogs, .speaking, .moreblogs {
    article { 
      position: relative;
      min-height: 6em;
      padding-left:65px;
      padding-bottom:20px;
      h1 {
        font-weight: bold;
        margin-bottom:0;
        color: darken(white, 10%);
        .plain-anchor;
      }
      h2 {
        font-size: 90%;
        color: darken(white, 15%);
      }
      p{
        margin-bottom: 5px;
      }
    }
    
    img { 
      max-width:60px;
      position: absolute;
      left: 0;
      top: -8px; 
    }
  }
}

