section.static_content {
  #gradient > .vertical(@impact_background, white 300px);

  article {
    hgroup {
      h1 {
        .light_header(darken(@light_text,10%));
        font-weight:bold;
        margin-top: 0.5em;
        .size(30);
      }
      h2 {
        .size(13);
        .light_header_shadowless(@nic_orange);
      }
    }
  }
}

#who_we_are {
  ul.team-links .selected {
    .banner(desaturate(@nic_orange, 20%));
  }
  #who_we_are_team{
    margin-top:4em;
  }
}

.user-list-item {
  min-height: 75px;
  img {
    float: left;
    width: 100px;
    margin-right: 10px;
  }
  div {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    h1, h2 {
      margin: 0;
    }
    h1 {
      font-weight: bold;
    }
  }
}
