section.static_content {
  #gradient > .vertical(@impact_background, white 300px);

  article {
    hgroup {
      h1 {
        .light_header(darken(@light_text,10%));
        font-weight:bold;
        margin-top: 0.5em;
        .size(30);
      }
      h2 {
        .size(13);
        .light_header_shadowless(@nic_orange);
      }
    }
  }
}

#who_we_are {
  ul.team-links .selected {
    .banner(desaturate(@nic_orange, 20%));
  }
  #who_we_are_team{
    margin-top:4em;
  }
}

.user-list-item {
  min-height: 75px;
  //position: relative;
  img {
    float: left;
    width: 100px;
    margin-right: 10px;
  }
  div {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    h1, h2 {
      margin: 0;
    }
    h1 {
      font-weight: bold;
    }
  }
  .bio {
    opacity: 0;
    .transform(0.1);
    .transition(opacity ease-in 0.0s);
    margin-top: -121px;
    margin-left: -30px;
    width: 24em;
    padding: 120px 25px 0 25px;

    position: absolute;
    z-index: 10;
    border: 10px solid white;
    background: url(/assets/images/paper.png) repeat;
    .box-shadow(0 1px 10px fadeOut(black, 50%));
    color: lighten(black, 35%);

    em {
      font-weight: bold;
    }
    dl {
      dt, dd { float: left; margin: 0;}
      dt { 
        font-weight: bold; 
        clear: left; 
        margin-right: 5px;
        &:after {
          content: ':';
        }
      }
      overflow: hidden;
      margin: 0 0 1em 0;
    }
    p {
      clear: left;
    }
  }

  &:hover {
    img, div {
      position: relative;
      z-index: 20;
    }
    .bio {
      opacity: 1;
      .transform(1);
      .transition(all ease-in 0.6s);
      -webkit-transform-origin: 50% 50%;
    }
  }
}
