@import '../css/pygments-light.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.mono {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
}
.debug {
  background: rgba(0, 255, 0, 0.5);
}
.band-strip {
  padding-top: 2em;
}
.plain-anchor a {
  color: inherit;
  text-decoration: none;
}
.plain-anchor a:hover {
  text-decoration: underline;
}
/* Settings */
/* font sizes in pixels - only used for body; will be converted to ems */
body {
  font-size: 13px;
  line-height: 1.3846153846153846em;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.8571428571428571em;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.9473684210526315em;
}
h3 {
  margin-top: 0;
  margin-bottom: 1.0588235294117647em;
}
h4 {
  margin-top: 0;
  margin-bottom: 1.2em;
}
blockquote,
h5,
h6,
iframe,
label,
p,
pre,
address,
td,
th,
ul,
ol,
dl,
dd,
hr,
table {
  font-size: 1em;
  line-height: 1.3846153846153846em;
  margin-top: 0;
  margin-bottom: 1.3846153846153846em;
}
small {
  font-size: 0.8461538461538461em;
  line-height: 1.44em;
  margin-top: 0;
  margin-bottom: 1.6363636363636365em;
}
.gridOverlay {
  background-size: 8.333333333333332%;
  background-image: -moz-linear-gradient(left, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 12.5%, rgba(255, 0, 0, 0.1) 12.5%, rgba(255, 0, 0, 0.1) 87.5%, rgba(255, 0, 0, 0.05) 87.5%);
  background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 12.5%, rgba(255, 0, 0, 0.1) 12.5%, rgba(255, 0, 0, 0.1) 87.5%, rgba(255, 0, 0, 0.05) 87.5%);
  background-image: -o-linear-gradient(left, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 12.5%, rgba(255, 0, 0, 0.1) 12.5%, rgba(255, 0, 0, 0.1) 87.5%, rgba(255, 0, 0, 0.05) 87.5%);
  background-image: -ms-linear-gradient(left, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 12.5%, rgba(255, 0, 0, 0.1) 12.5%, rgba(255, 0, 0, 0.1) 87.5%, rgba(255, 0, 0, 0.05) 87.5%);
  background-image: linear-gradient(left, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 12.5%, rgba(255, 0, 0, 0.1) 12.5%, rgba(255, 0, 0, 0.1) 87.5%, rgba(255, 0, 0, 0.05) 87.5%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  background: url(../images/footer-background.png) repeat;
  color: #606060;
}
a {
  color: #60574c;
}
body > section {
  *zoom: 1;
}
body > section:before,
body > section:after {
  content: "";
  display: table;
}
body > section:after {
  clear: both;
}
header#main {
  position: relative;
  *zoom: 1;
}
header#main:before,
header#main:after {
  content: "";
  display: table;
}
header#main:after {
  clear: both;
}
header#main h1.logo,
header#main nav,
header#main article {
  position: relative;
  z-index: 10;
}
header#main hgroup {
  height: 102px;
  position: relative;
  *zoom: 1;
}
header#main hgroup:before,
header#main hgroup:after {
  content: "";
  display: table;
}
header#main hgroup:after {
  clear: both;
}
header#main hgroup h1.logo {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
  margin-left: 9.5%;
  position: absolute;
  left: -2px;
  z-index: 11;
  height: 84px;
}
header#main hgroup nav {
  clear: left;
  position: relative;
  top: 69px;
  *zoom: 1;
}
header#main hgroup nav:before,
header#main hgroup nav:after {
  content: "";
  display: table;
}
header#main hgroup nav:after {
  clear: both;
}
header#main hgroup nav ol {
  display: inline;
  float: left;
  width: 89.58333333333334%;
  margin: 0 1.0416666666666665%;
  margin-right: 9.374999999999998%;
}
header#main hgroup nav ol li {
  font-size: 1.0769230769230769em;
  line-height: 1.3584905660377358em;
  padding: 0.5em 0;
  display: inline-block;
}
header#main hgroup nav ol li:first-child {
  display: none;
}
header#main hgroup nav ol li a {
  padding: 0.5em;
}
header#main hgroup nav ol li:last-child a {
  padding-right: 0;
}
@media screen and (min-width: 24em) {
  header#main hgroup nav ol li:first-child {
    display: inline-block;
  }
}
@media screen and (min-width: 48em) {
  header#main hgroup {
    height: 69px;
  }
  header#main hgroup nav {
    top: 36px;
    margin-left: 9.374999999999998%;
  }
}
header#main article {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
header#main ol.links {
  clear: left;
}
header#main .nextprev {
  position: absolute;
  top: 50%;
  width: 100%;
}
header#main .nextprev li {
  width: 1.5em;
  position: absolute;
}
header#main .nextprev li.previous {
  left: 0;
}
header#main .nextprev li.next {
  right: 0;
}
header#main figure {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  margin-right: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
}
header#main figure div {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}
@media screen and (min-width: 40em) {
  header#main .nextprev li {
    width: 2em;
    font-size: 1.7692307692307692em;
    line-height: 1.1612903225806452em;
    height: 3em;
    line-height: 3em;
  }
  header#main article {
    display: inline;
    float: left;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
    margin-left: 9.374999999999998%;
  }
  header#main figure {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    margin-right: 0;
  }
}
footer {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
footer section {
  width: 50%;
  float: left;
  margin-top: 1em;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer section:nth-child(2n+1) {
  clear: left;
}
@media screen and (min-width: 30em) {
  footer section {
    width: 33.333333333333336%;
  }
  footer section:nth-child(n) {
    clear: none;
  }
  footer section:nth-child(3n+1) {
    clear: left;
  }
}
@media screen and (min-width: 40em) {
  footer section {
    width: 25%;
  }
  footer section:nth-child(n) {
    clear: none;
  }
  footer section:nth-child(6) {
    width: 75%;
  }
}
@media screen and (min-width: 55em) {
  footer section {
    width: 16.666666666666668%;
  }
  footer section:nth-child(n) {
    clear: none;
    width: 16.666666666666668%;
  }
}
footer .copyright {
  clear: left;
  padding-top: 1em;
  margin-bottom: 1em;
}
#aboutnic {
  padding-top: 2em;
}
#aboutnic hgroup {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
#aboutnic hgroup section {
  float: left;
  text-align: center;
  width: 33.333333333333336%;
}
#aboutnic hgroup section h1 {
  margin-bottom: 0;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #f68640;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5), -2px 3px 0 rgba(246, 134, 64, 0.2);
  font-size: 1.7692307692307692em;
  line-height: 1.1612903225806452em;
}
#aboutnic hgroup section h1:after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border: 0;
  margin: auto;
  background: url(../images/icons/sprite.png);
}
#aboutnic hgroup section.about-agile h1:after {
  background-position: -50px 0;
}
#aboutnic hgroup section.about-best h1:after {
  background-position: -100px 0;
}
#aboutnic hgroup section  > * {
  margin-left: 20px;
  margin-right: 20px;
}
#aboutnic hgroup:after {
  display: none;
}
#aboutnic #news {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
@media screen and (min-width: 50em) {
  #aboutnic.has_news hgroup {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    margin-left: 9.374999999999998%;
  }
  #aboutnic.has_news hgroup:after {
    display: block;
  }
  #aboutnic.has_news #news {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    margin-left: 9.374999999999998%;
  }
}
#techcommunity {
  padding-top: 2em;
}
#techcommunity  > h1 {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
#techcommunity  > section {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
#techcommunity .techtalks figure {
  margin: auto;
}
#techcommunity .speaking {
  display: none;
}
#techcommunity.has_speaking .speaking {
  display: block;
}
#techcommunity .moreblogs,
#techcommunity .morelinks {
  display: none;
}
#techcommunity a {
  color: inherit;
  text-decoration: none;
}
#techcommunity a:hover {
  text-decoration: underline;
}
#techcommunity .morelink,
#techcommunity .morelinks a {
  float: right;
}
#techcommunity .morelink:after,
#techcommunity .morelinks a:after {
  content: '...';
}
@media screen and (min-width: 43em) {
  #techcommunity .blogs {
    display: inline;
    float: left;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
    margin-left: 9.374999999999998%;
  }
  #techcommunity .moreblogs {
    display: inline;
    float: left;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
  }
  #techcommunity .blogs .morelink,
  #techcommunity .moreblogs .morelink,
  #techcommunity .speaking .morelink {
    display: none;
  }
  #techcommunity.has_speaking .moreblogs {
    display: none;
  }
  #techcommunity.has_speaking .speaking {
    display: inline;
    float: left;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
  }
  #techcommunity.has_speaking .morelinks li.morelinks-blogs {
    display: inline;
    float: left;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
    margin-left: 9.374999999999998%;
  }
  #techcommunity.has_speaking .morelinks li.morelinks-speaking {
    display: inline;
    float: left;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
  }
  #techcommunity .morelinks {
    clear: left;
    display: block;
  }
  #techcommunity .morelinks li.morelinks-talks {
    display: none;
  }
  #techcommunity .morelinks li.morelinks-blogs {
    display: inline;
    float: left;
    width: 81.25%;
    margin: 0 1.0416666666666665%;
    margin-left: 9.374999999999998%;
  }
  #techcommunity .morelinks li.morelinks-speaking {
    display: none;
  }
}
@media screen and (min-width: 50em) {
  #techcommunity .techtalks {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    margin-left: 9.374999999999998%;
  }
  #techcommunity .techtalks .morelink {
    display: none;
  }
  #techcommunity .blogs {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
  }
  #techcommunity .moreblogs {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
  }
  #techcommunity.has_speaking .speaking {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
  }
  #techcommunity.has_speaking .morelinks li.morelinks-blogs {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
  }
  #techcommunity.has_speaking .morelinks li.morelinks-speaking {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
  }
  #techcommunity .morelinks li.morelinks-talks {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    margin-left: 9.374999999999998%;
  }
  #techcommunity .morelinks li.morelinks-blogs {
    display: inline;
    float: left;
    width: 56.25%;
    margin: 0 1.0416666666666665%;
  }
}
section.blog_content article {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
section.blog_content aside {
  clear: left;
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
@media screen and (min-width: 45em) {
  section.blog_content article {
    display: inline;
    float: left;
    width: 56.25%;
    margin: 0 1.0416666666666665%;
    margin-left: 9.374999999999998%;
  }
  section.blog_content aside {
    clear: none;
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
  }
}
header#main {
  background: #e7e7e7;
}
header#main.homepage {
  min-height: 430px;
}
header#main hgroup {
  background: url(../images/white-stripe-pattern.png) repeat;
}
header#main hgroup h1.logo {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/logo-background.png) no-repeat left top;
  height: 69px;
  width: 260px;
}
header#main hgroup  > a {
  position: absolute;
  width: 252px;
  display: block;
  height: 70px;
  z-index: 11;
  left: 7%;
}
header#main nav {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
header#main nav ol {
  text-align: right;
}
header#main nav ol li {
  font-size: 1.3076923076923077em;
  line-height: 1.2857142857142858em;
}
header#main nav ol li a {
  color: inherit;
  text-decoration: none;
}
header#main nav ol li a:hover {
  text-decoration: underline;
}
header#main hr {
  border: 1px solid #f9f9f9;
  height: 0px;
}
header#main article {
  color: #606060;
  padding: 3em 0;
}
header#main article h1 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #606060;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5), -2px 3px 0 rgba(96, 96, 96, 0.2);
  font-size: 2.923076923076923em;
  line-height: 0.935064935064935em;
}
header#main article h2 {
  color: #868686;
  font-size: 1.2307692307692308em;
  line-height: 1.309090909090909em;
  line-height: 1.4em;
}
header#main article .article-links {
  position: relative;
  left: -6px;
}
header#main .nextprev {
  margin: 0;
}
header#main .nextprev li {
  opacity: 0.8;
  text-align: center;
  background: #dadada;
  border: 1px solid #cecece;
  color: #b4b4b4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px 1px #818181, 0 0 0 transparent;
  font-size: 1.6153846153846154em;
  line-height: 1.2em;
  height: 3em;
  line-height: 3em;
}
header#main figure div {
  margin-left: -200px;
  background: url(../images/mobile-impact.png) 15px -14px no-repeat;
}
footer {
  color: black;
}
footer a {
  color: inherit;
}
footer section a {
  color: inherit;
  text-decoration: none;
}
footer section a:hover {
  text-decoration: underline;
}
footer section h1 {
  font-weight: bold;
}
footer section.contactus a,
footer section.social a {
  color: inherit;
  text-decoration: none;
}
footer section.contactus a:hover,
footer section.social a:hover {
  text-decoration: underline;
}
footer section.contactus li,
footer section.social li {
  display: inline;
}
footer section.contactus a,
footer section.social a,
footer section.contactus .icon,
footer section.social .icon {
  position: relative;
  padding-left: 25px;
}
footer section.contactus a:before,
footer section.social a:before,
footer section.contactus .icon:before,
footer section.social .icon:before {
  opacity: 0.6;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icons/glyphicon-sprite.png) no-repeat;
  width: 20px;
  height: 20px;
}
footer section.contactus a.addr:before,
footer section.social a.addr:before,
footer section.contactus .icon.addr:before,
footer section.social .icon.addr:before {
  background-position: -60px 0;
}
footer section.contactus a.phone:before,
footer section.social a.phone:before,
footer section.contactus .icon.phone:before,
footer section.social .icon.phone:before {
  background-position: -40px 0;
}
footer section.contactus a.fax:before,
footer section.social a.fax:before,
footer section.contactus .icon.fax:before,
footer section.social .icon.fax:before {
  background-position: -20px 0;
}
footer section.contactus a.email:before,
footer section.social a.email:before,
footer section.contactus .icon.email:before,
footer section.social .icon.email:before {
  background-position: 0px 0;
}
footer section.contactus a.facebook:before,
footer section.social a.facebook:before,
footer section.contactus .icon.facebook:before,
footer section.social .icon.facebook:before {
  background-position: -80px 0;
}
footer section.contactus a.twitter:before,
footer section.social a.twitter:before,
footer section.contactus .icon.twitter:before,
footer section.social .icon.twitter:before {
  background-position: -100px 0;
}
footer section.contactus a.github:before,
footer section.social a.github:before,
footer section.contactus .icon.github:before,
footer section.social .icon.github:before {
  background-position: -120px 0;
}
footer section.contactus a.you-tube:before,
footer section.social a.you-tube:before,
footer section.contactus .icon.you-tube:before,
footer section.social .icon.you-tube:before {
  background-position: -140px 0;
}
footer section.contactus li,
footer section.social li {
  display: block;
}
footer section.contactus li a,
footer section.social li a {
  display: block;
}
footer aside {
  clear: left;
  padding-top: 1em;
  color: #777;
  position: relative;
}
footer aside p {
  font-size: 90%;
  margin-bottom: 0.5em;
}
footer aside a {
  text-decoration: none;
}
footer aside h1 {
  font-size: 1.2307692307692308em;
  line-height: 1.309090909090909em;
  display: inline-block;
  padding: 1em;
  padding: 0.5em 20px;
  margin-left: -20px;
  position: relative;
  /* Legacy browsers */

  background: #cccccc none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  background: none, -webkit-linear-gradient(#ffffff, #cccccc);
  background: none, -moz-linear-gradient(#ffffff, #cccccc);
  background: none, -o-linear-gradient(top, #ffffff, #cccccc);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), 0 0 0 transparent;
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), 0 0 0 transparent;
  -ms-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), 0 0 0 transparent;
  -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), 0 0 0 transparent;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), 0 0 0 transparent;
  border: 1px solid #CCC;
  border-bottom: 1px solid #AAA;
}
footer aside h1 em {
  color: #f68640;
}
footer aside h1:before,
footer aside h1:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
footer aside h1:before {
  width: 200px;
  left: -200px;
  top: 17px;
  z-index: -1;
  height: 30px;
  margin-left: 20px;
  /* Legacy browsers */

  background: #cccccc none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  background: none, -webkit-linear-gradient(#ffffff, #cccccc);
  background: none, -moz-linear-gradient(#ffffff, #cccccc);
  background: none, -o-linear-gradient(top, #ffffff, #cccccc);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  opacity: 0.5;
}
footer aside h1:after {
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #CCC #CCC transparent transparent;
  z-index: -1;
}
footer .copyright {
  float: right;
  color: #4d4d4d;
  font-size: 0.8461538461538461em;
}
.highlight {
  background: #f9f9f9;
  -webkit-box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.6), -5px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.6), -5px 5px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.6), -5px 5px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.6), -5px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.6), -5px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1.3846153846153846em;
}
.highlight .n,
.highlight .nl {
  color: #425358;
}
.highlight .c1 {
  color: #586E75;
}
#aboutnic {
  background: url(../images/dark-texture.png) repeat;
  color: #f2f2f2;
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -ms-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -o-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}
#aboutnic hgroup {
  position: relative;
}
#aboutnic hgroup h1 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5), -2px 3px 0 rgba(255, 255, 255, 0.2);
  font-size: 2.5384615384615383em;
  line-height: 1em;
}
#aboutnic hgroup p em {
  color: #f68640;
}
#aboutnic hgroup:after {
  content: '';
  width: 0;
  background: red;
  height: 90%;
  position: absolute;
  top: 0;
  left: 110%;
  border-left: 1px solid #555;
  border-right: 1px solid black;
}
#aboutnic #news h1 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #f68640;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5), -2px 3px 0 rgba(246, 134, 64, 0.2);
  font-size: 2em;
  line-height: 1.1076923076923078em;
}
#aboutnic #news article h2 {
  font-size: 1.3076923076923077em;
  line-height: 1.2857142857142858em;
  margin-bottom: 0;
}
#aboutnic #news article h2 a {
  color: inherit;
  text-decoration: none;
}
#aboutnic #news article h2 a:hover {
  text-decoration: underline;
}
#techcommunity {
  color: #e7e7e7;
  padding-bottom: 1em;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1) , transparent 5% , transparent 95% , rgba(0, 0, 0, 0.1)), url(../images/leather.jpg);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.1) , transparent 5% , transparent 95% , rgba(0, 0, 0, 0.1)), url(../images/leather.jpg);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) , transparent 5% , transparent 95% , rgba(0, 0, 0, 0.1)), url(../images/leather.jpg);
}
#techcommunity  > h1 {
  color: white;
  text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.3), 0 0 0 transparent;
  font-size: 2.5384615384615383em;
  line-height: 1em;
  margin-bottom: 1em;
}
#techcommunity  > section  > h1 {
  font-size: 1.6153846153846154em;
  line-height: 1.2em;
  color: #f68640;
  text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.3), 0 0 0 transparent;
}
#techcommunity .morelinks li {
  text-align: right;
  color: #e6e6e6;
}
#techcommunity .morelinks li a {
  color: inherit;
  text-decoration: none;
}
#techcommunity .morelinks li a:hover {
  text-decoration: underline;
}
#techcommunity .morelink {
  margin-top: 1em;
}
#techcommunity section article:hover .sharing-links li a,
#techcommunity .techtalks:hover .sharing-links li a {
  opacity: 0.6;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
#techcommunity .sharing-links li a {
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  padding: 0;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
#techcommunity .techtalks .sharing-links {
  max-width: 320px;
  margin: auto;
}
#techcommunity .techtalks .morelink {
  clear: both;
}
#techcommunity .techtalks figure {
  max-width: 320px;
  margin-bottom: -1.5em;
}
#techcommunity .techtalks figure a {
  color: inherit;
  text-decoration: none;
}
#techcommunity .techtalks figure a:hover {
  text-decoration: underline;
}
#techcommunity .techtalks figcaption {
  background: rgba(0, 0, 0, 0.30000000000000004);
  text-align: center;
  margin: 0 2em;
  padding: 5px;
  position: relative;
  top: -2.5em;
  word-break: break-word;
}
#techcommunity .techtalks img {
  width: 100%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#techcommunity .blogs article,
#techcommunity .speaking article,
#techcommunity .moreblogs article {
  position: relative;
  min-height: 6em;
  padding-left: 65px;
}
#techcommunity .blogs article h1,
#techcommunity .speaking article h1,
#techcommunity .moreblogs article h1 {
  font-weight: bold;
  margin-bottom: 0;
  color: #474747;
}
#techcommunity .blogs article h1 a,
#techcommunity .speaking article h1 a,
#techcommunity .moreblogs article h1 a {
  color: inherit;
  text-decoration: none;
}
#techcommunity .blogs article h1 a:hover,
#techcommunity .speaking article h1 a:hover,
#techcommunity .moreblogs article h1 a:hover {
  text-decoration: underline;
}
#techcommunity .blogs article h2,
#techcommunity .speaking article h2,
#techcommunity .moreblogs article h2 {
  font-size: 90%;
  color: #535353;
}
#techcommunity .blogs img,
#techcommunity .speaking img,
#techcommunity .moreblogs img {
  max-width: 60px;
  position: absolute;
  left: 0;
  top: -8px;
}
section.blog_content {
  /* Legacy browsers */

  background: #ffffff 300px none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#ffffff 300px));
  background: none, -webkit-linear-gradient(#e7e7e7, #ffffff 300px);
  background: none, -moz-linear-gradient(#e7e7e7, #ffffff 300px);
  background: none, -o-linear-gradient(top, #e7e7e7, #ffffff 300px);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#e7e7e7), to(#ffffff 300px));
}
section.blog_content article header h1 {
  font-size: 1.7692307692307692em;
  line-height: 1.1612903225806452em;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #60574c;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5), -2px 3px 0 rgba(96, 87, 76, 0.2);
}
section.blog_content article h1 {
  font-size: 1.6153846153846154em;
  line-height: 1.2em;
  color: #f68640;
}
section.blog_content article h2 {
  font-size: 1.3076923076923077em;
  line-height: 1.2857142857142858em;
}
section.blog_content article h3 {
  font-size: 1.2307692307692308em;
  line-height: 1.309090909090909em;
}
section.blog_content article h4 {
  font-size: 1.1538461538461537em;
  line-height: 1.3333333333333333em;
}
section.blog_content article h5 {
  font-size: 1.0769230769230769em;
  line-height: 1.3584905660377358em;
}
section.blog_content article img {
  max-width: 100%;
  text-align: center;
  margin: auto;
  display: block;
}
section.blog_content article pre {
  overflow-x: auto;
  padding: 1em;
  font-size: 90%;
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
}
section.blog_content article code {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
}
section.blog_content aside img {
  float: right;
  width: 75px;
}
section.blog_content aside hgroup.blogger {
  border-radius: 8px;
  background: #D8D8D8;
  border-style: 1px solid rgba(150, 150, 150, 0.36);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.48), inset 0px 1px 3px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.48), inset 0px 1px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.48), inset 0px 1px 3px rgba(0, 0, 0, 0.03);
  margin-top: 15px;
  width: 90%;
  min-height: 50px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.blog_content aside hgroup.blogger h1 {
  text-transform: uppercase;
  color: #f68640;
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}
section.blog_content aside  > h1 {
  font-size: 1.1538461538461537em;
  line-height: 1.3333333333333333em;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #60574c;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5), -2px 3px 0 rgba(96, 87, 76, 0.2);
  margin-top: 2em;
}
section.blog_content aside ul.sharing li {
  margin: 0;
  position: relative;
}
section.blog_content aside ul.sharing li a {
  color: inherit;
  text-decoration: none;
}
section.blog_content aside ul.sharing li a:hover {
  text-decoration: underline;
}
section.blog_content aside ul.sharing li a {
  padding-left: 25px;
}
section.blog_content aside ul.sharing li:before {
  opacity: 0.6;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icons/glyphicon-sprite.png) no-repeat;
  width: 20px;
  height: 20px;
}
section.blog_content aside ul.sharing li.twitter:before {
  background-position: -80px 0;
}
section.blog_content aside ul.sharing li.facebook:before {
  background-position: -100px 0;
}
section.blog_content aside ul li .sharing-links {
  display: none;
}
section.blog_content aside ul li {
  margin-top: 1.5em;
}
section.blog_content aside ul li h1 {
  font-size: 1em;
  line-height: 1.3846153846153846em;
  margin-bottom: 0;
}
section.blog_content aside ul li h1 a {
  color: inherit;
  text-decoration: none;
}
section.blog_content aside ul li h1 a:hover {
  text-decoration: underline;
}
section.blog_content aside ul li h2 {
  color: #939393;
  font-size: 0.8461538461538461em;
  line-height: 1.44em;
}
/*
display: block;
width: 20px;
height: 20px;
background: url(/assets/images/icons/glyphicon-sprite.png);
background-position: -100px 0;
opacity: 0.3;
*/
.sharing-links a {
  color: inherit;
  text-decoration: none;
}
.sharing-links a:hover {
  text-decoration: underline;
}
.sharing-links li {
  display: inline;
}
.sharing-links a,
.sharing-links .icon {
  position: relative;
  padding-left: 25px;
}
.sharing-links a:before,
.sharing-links .icon:before {
  opacity: 0.6;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icons/glyphicon-sprite.png) no-repeat;
  width: 20px;
  height: 20px;
}
.sharing-links a.addr:before,
.sharing-links .icon.addr:before {
  background-position: -60px 0;
}
.sharing-links a.phone:before,
.sharing-links .icon.phone:before {
  background-position: -40px 0;
}
.sharing-links a.fax:before,
.sharing-links .icon.fax:before {
  background-position: -20px 0;
}
.sharing-links a.email:before,
.sharing-links .icon.email:before {
  background-position: 0px 0;
}
.sharing-links a.facebook:before,
.sharing-links .icon.facebook:before {
  background-position: -80px 0;
}
.sharing-links a.twitter:before,
.sharing-links .icon.twitter:before {
  background-position: -100px 0;
}
.sharing-links a.github:before,
.sharing-links .icon.github:before {
  background-position: -120px 0;
}
.sharing-links a.you-tube:before,
.sharing-links .icon.you-tube:before {
  background-position: -140px 0;
}
/*
.video {
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    background: url(../images/play-button.png) no-repeat;
    display: block;
    position: absolute;
    width: 103px;
    height: 103px;
    margin-left: -51px;
    margin-top: -51px;
    left: 50%;
    top: 50%;
  }
}
*/
