section.all_content {
  .blogs {
    .pad;

    article {
      .blog-info.has-image {
        margin-left: 0;
      }
      .lead-image {
        float: none;
      }
    }
      
  }
  aside {
    clear: left;
    .pad(2);
    padding-top: 65px;
    
    li {
      line-height: 1.2em;
    }
  }

  @media screen and (min-width:45em) {
    .blogs{
      .column(7);
      .push(1);

      article {
        .blog-info.has-image {
          margin-left: 120px;
        }
        .lead-image {
          float: left;
        }
      }
    }
    aside {
      clear: none;
      .column(3);
    }
  }

  @media screen and (min-width:90em) {
    .blogs {
      .column(6);
      .push(2);
    }
    aside {
      clear: none;
      .column(2);
    }
  }
  
  .parent {
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .child {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 28px;
    padding-bottom: 2px;
  }
}


