section.all_content {
  .blogs {
    .pad;
  }
  aside {
    clear: left;
    .pad(2);
    margin-top: 2em;
  }

  @media screen and (min-width:45em) {
    .blogs{
      .column(7);
      .push(1);
    }
    aside {
      clear: none;
      .column(3);
    }
  }

  @media screen and (min-width:90em) {
    .blogs {
      .column(6);
      .push(2);
    }
    aside {
      clear: none;
      .column(2);
    }
  }
  
  .parent, .child {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .parent {
    background: url('/assets/images/paper.png') repeat;
  }
  .child {
    background-color: rgba(0, 0, 0, 0);
  }
  .child:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}


