section.static_content {
  article > * { .pad; }
  
  #history, #what_we_do_details,#get_to_know_us,#awards { 
    margin:0;
    width: 100%;
    & > * { .pad; } 
    }
  #history{
    section{
      h2 {
        margin-bottom: 1em;
        .light_header(white);
        .text-shadow(-3px 2px 2px fade(black, 30%));
        .size(20);
      }
      p{
        margin: auto;
        margin-bottom:1em;
      }
    }
    aside{
      h2 {
        margin-bottom: 1em;
        .light_header(white);
        .text-shadow(-3px 2px 2px fade(black, 30%));
        .size(13);
      }
      p{
        margin: auto;
        margin-bottom:1em;
      }
    }

    @media screen and (min-width: 50em) {

      section { 
        .column(6);
        .push(1);
        &:after { display: block; }
      }
      aside {
        .column(3);
        .push(1);
      }
    }
    @media screen and (min-width:90em) {
      aside { .pad(2); }
      section { .pad(2); }
      section { 
          .column(5);
          .push(2);
          &:after { display: block; }
      }
      aside {
         .column(2);
         .push(1);
      }
    }
  }

  #what_we_do_details { 
    section {
      h2 {
        text-align:center;
        margin-bottom: 1em;
        .light_header_shadowless(@nic_orange);
        .size(10);
      }
    }
    @media screen and (min-width: 70em) {
      section {
        .column(3,10);
      }
      section.big-data{
        .column(4,10);
      }
    }
    @media screen and (min-width:90em) {
      section {
        .pad(2);
        .column(2);
        .push(1);
      }
    }
  }
}

#get_to_know_us{
  margin-top:1em;
  .join_us_icons{
    display:block;
    width:80%;
    margin:auto;
    padding-top:2em;
  }
  section {
    h2 {
      text-align:center;
      margin-bottom: 1em;
      .light_header_shadowless(@nic_orange);
      .size(5);
    }
  }
  @media screen and (min-width: 70em) {
      section {
        width:16%;
        float:left;
        &.be-challenged{
          padding-left:7%;
        }
        &.technology-focus{
          padding-left:6%;
        }
        &.people-first{
          padding-left:7%;
        }
        &.work-fun{
          padding-left:8%;
        }
      }
    }
}

#benefits,#open_positions,#open_source,#ssl_everywhere{
  padding-bottom:3em;
  h2{
      .light_header_shadowless(@nic_orange);
      .size(10);
      margin-bottom:.5em;
    }
  h3{
      .light_header_shadowless(black);
      .size(4);
      margin-bottom:.5em;
  }
  section{

    .split{
      .push(1);
      .column(5,10);
      ul{
      list-style-type:square;
      margin-left:2em;
      }
      ul li{
        margin-bottom:.25em;
      }
      margin-bottom:0.5em;
    }
  }
}
#who_we_are_team {
  overflow:hidden;

  .team_subcategory > li {

    & > h1 {
      .size(10);
      color: @nic_orange;
    }
  }

  @media screen and (min-width:33em) {
    .team_subcategory  > li {
      width: 50%;
      float: left;
    }
  }
  @media screen and (min-width:50em) {
    .team-links {
      position: absolute;
    }
    .team_subcategory {
      padding-left: 17em;
      padding-top:  6px;
    }
  }
}
