section.static_content {
}
#travel{
  @media screen and (min-width:50em){
    .airport{ .column(3, 10); }
    .hotels{
      .column(6, 10);
      ul{
        .column(3,6);
      }
    }
  }
  @media screen and (min-width:90em){
    .airport{ .column(3, 8); }
    .hotels{
      .column(5, 8);
      ul{
        .column(3,5);
      }
    }
  }
}
#big-data-products,#mobile-products{
  @media screen and (min-width: 55em){
    section{
      width:33%;
      float: left;
      .box-sizing;
      padding: 0 2em;
    }
  }
}
#positions, #benefits-list {
  @media screen and (min-width: 55em){
    section {
      width: 33%;
      float: left; 
      .box-sizing;
      padding: 0 2em;
    }
    article > p {
      clear: left;
    }
  }
}
.split-band{
  @media screen and (min-width: 50em){
    section{
      .column(5,10);
    }
  }
}
#mobile-more-info{
  @media screen and (min-width: 50em){
    section{
      .column(7,10);
    }
    aside{
      .column(3,10);
      width:26%;
      margin:3em 0 0;
    }
  }
}
#about_internship{
  @media screen and (min-width: 50em){
    .intern_desc{ .column(7, 10); }
    .intern_benefits{ .column(3, 10); }
    .requirements{
      .column(10, 10);
      clear: left;
    }
  }
  @media screen and (min-width: 90em){
    .intern_desc{ .column(5, 8); }
    .intern_benefits{ .column(3, 8); }
  }
}
#intern_visit{
  @media screen and (min-width: 50em){
    section{ .column(4, 10); }
    .video-wrap{
      .column(5, 10);
      .push(1);
    }
  }
  @media screen and (min-width: 90em){
    section{ .column(4, 8); }
    .video-wrap{
      .column(4, 8);
    }
  }
}
#nic-u{
  @media screen and (min-width: 50em){
    .headers{
      .column(6,10);
    }
    .video-wrap{
      .column(4,10);
    }
  }
}
#about-training{
  @media screen and (min-width: 50em){

    .features{
      .column(5,10);
    }
    .video-wrap{
      .column(5,10);
    }
  }
}
#history{
  aside{
    h2 {
      margin-bottom: 1em;
      .light_header(white);
      .text-shadow(-3px 2px 2px fade(black, 30%));
      .size(13);
      text-transform: uppercase;
    }
    p{
      margin: auto;
      margin-bottom:0;
      padding-bottom:0;
    }
  }

  @media screen and (min-width: 50em) {

    section { 
      .column(6);
      .push(1);
      &:after { display: block; }
    }
    aside {
      .column(3);
      .push(1);
    }
  }
  @media screen and (min-width:90em) {
    aside { .pad(2); }
    section { .pad(2); }
    section { 
        .column(5);
        .push(2);
        &:after { display: block; }
    }
    aside {
       .column(2);
       .push(1);
    }
  }
}

#what_we_do { 
  h2 {
    text-align:center;
  }
  h2:hover{
    &:after{
      opacity:1;
      .transition(opacity linear 0.2s);
    }
  }
  h2:after{
    content: '';
    display: block;
    width: 73px;
    height:50px;
    background-size: auto 50px;
    border: 0;
    margin: .5em auto 0;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.5;
  }
  .mobile h2:after{
    background-image: url(../images/icons/mobile.png);
  }
  .big_data h2:after{
    background-image: url(../images/icons/big_data.png);
  }
  .trusted_apps h2:after{
    background-image: url(../images/icons/trusted_apps.png);
  }
  p{
    text-align:center;
  }
  @media screen and (min-width: 70em) {
    section {
      width:31%;
      float:left;
      padding: 2em 1% 0;
    }
  }
}

#get_to_know_us{
  .join_us_icons{
    display:block;
    width:80%;
    margin:auto;
    padding-top:2em;
  }
  section {
    h2 {
      text-align:center;
      margin-bottom: 3em;
      .size(5);
    }
  }
  @media screen and (min-width: 70em) {
    section {
      width:16%;
      float:left;
      &.be-challenged{
        padding-left:7%;
      }
      &.technology-focus{
        padding-left:6%;
      }
      &.people-first{
        padding-left:7%;
      }
      &.work-fun{
        padding-left:8%;
      }
    }
  }
}

#simple_page{
  padding-bottom:3em;
  section{
    .split{
      .push(1);
      .column(5,10);
      ul{
      list-style-type:square;
      margin-left:2em;
      }
      ul li{
        margin-bottom:.25em;
      }
      margin-bottom:0.5em;
    }
  }
}
#management_team {  overflow:hidden;}

#who_we_are_team {
  .team-links {
    margin-bottom: 2em;
  }

  .team_subcategory > li {

    & > h1 {
      .size(10);
      color: @nic_orange;
    }
  }

  @media screen and (min-width:33em) {
    .team_subcategory  > li {
      width: 50%;
      float: left;
    }
  }
  @media screen and (min-width:50em) {
    .team-links {
      position: absolute;
    }
    .team_subcategory {
      padding-left: 17em;
      padding-top:  6px;
    }
  }
}
