section.static_content {
  article > * { .pad; z-index:0;position:relative;}

  article{position:relative}
  .what_we_do_ball{display:none;}
  @media screen and (min-width: 70em) {
    .what_we_do_ball{
      position:absolute;
      right:-16%;
      top:-20px;
      z-index:0;
      display:block;
      width:auto;
      height:350px;
    }
    .about{
    width:55%;
    }
  }
}
.band{ 
  margin:0 !important;
  width: 100% !important;
  padding: 4em 0;
  & > * { .pad; } 
  color:@impact_background;
  h1{
    .light_header(white);
    .light_header(white);
    .text-shadow(-3px 2px 2px fade(black, 30%));
    .size(20);
    padding-bottom:.5em;
    text-transform: uppercase;
  }

  h2{
      .light_header_shadowless(@nic_orange);
      .size(15);
      margin-bottom:.5em;
    }
  h3{
      .light_header_shadowless(black);
      .size(4);
      margin-bottom:.5em;
  }
  aside{
    h3{
      .size(2);
      color:@nic_orange;
      margin-bottom:0;
      margin-top:1em;
    }
  }
  &.pad-bottom, &.pad-both{
    margin-bottom:4em !important;
  }
  &.pad-top, &.pad-both{
    margin-top: 4em !important;
  }
}
#travel{
  @media screen and (min-width:50em){
    .airport{

      .column(3);
      .push(1);
    }
    .hotels{
      .column(6);
      .push(1);
      ul{
        .column(3,6);
      }
    }
  }
}
#supergeek{
  padding-bottom: 0 !important;
  img{
    width:100%;
    margin-bottom:0 !important;
    padding-top:2em;
    margin-right:0 !important;
  }
  @media screen and (min-width: 50em){
    section{
      .column(7);
      .push(1);
    }
    img{
      .column(4);
      float:right;
      height:350px;
    }
  }
}
#about_internship{
  @media screen and (min-width: 50em){
    .intern_desc{
      .column(6);
    }
    .intern_benefits{
      .column(5);
      .push(1);
    }
    p{
      margin-bottom:0;
    }
    .requirements{
      padding-bottom:0;
      .column(10);
    }
  }
}
#intern_visit{
  height:250px;
  .video{
    padding-bottom:0;
    height:auto;
    overflow:visible;
    & iframe{
      height:250px;
    }
  }
  @media screen and (min-width: 50em){
    section{
      .column(4);
      .push(1);
    }
    .video{
      .column(5);
      .push(1);
    }
  }
}
#about-training{
  p{
    margin-bottom:0;
  }
  margin-bottom:3em;
  @media screen and (min-width: 50em){
    .features{
      .column(5);
      .push(6);
    }
    .video{
      .column(5);
      .push(1);
      padding-bottom:0;
      height:auto;
      overflow:visible;
      & iframe{
        height:300px;
      }
    }
  }
}
#history{
  aside{
    h2 {
      margin-bottom: 1em;
      .light_header(white);
      .text-shadow(-3px 2px 2px fade(black, 30%));
      .size(13);
      text-transform: uppercase;
    }
    p{
      margin: auto;
      margin-bottom:0;
      padding-bottom:0;
    }
  }

  @media screen and (min-width: 50em) {

    section { 
      .column(6);
      .push(1);
      &:after { display: block; }
    }
    aside {
      .column(3);
      .push(1);
    }
  }
  @media screen and (min-width:90em) {
    aside { .pad(2); }
    section { .pad(2); }
    section { 
        .column(5);
        .push(2);
        &:after { display: block; }
    }
    aside {
       .column(2);
       .push(1);
    }
  }
}
#what_we_do_details { 
  section {
    h2 {
      text-align:center;
    }
    h2:hover{
      &::after{
        opacity:1;
        .transition(opacity linear 0.2s);
      }
    }
    h2::after{
      content: '';
      display: block;
      width: 73px;
      height:50px;
      background-size: auto 50px;
      border: 0;
      margin: .5em auto 0;
      background-repeat: no-repeat;
      background-position: center;
      opacity:0.5;
    }
    &.mobile h2::after{
      background-image: url(../images/icons/mobile.png);
    }
    &.big_data h2::after{
      background-image: url(../images/icons/big_data.png);
    }
    &.trusted_apps h2::after{
      background-image: url(../images/icons/trusted_apps.png);
    }
    p{
      text-align:center;
    }
  }
  @media screen and (min-width: 70em) {
    section {
      width:31%;
      float:left;
      padding: 2em 1% 0;
    }
  }
}

#get_to_know_us{
  .join_us_icons{
    display:block;
    width:80%;
    margin:auto;
    padding-top:2em;
  }
  section {
    h2 {
      text-align:center;
      margin-bottom: 3em;
      .size(5);
    }
  }
  @media screen and (min-width: 70em) {
    section {
      width:16%;
      float:left;
      &.be-challenged{
        padding-left:7%;
      }
      &.technology-focus{
        padding-left:6%;
      }
      &.people-first{
        padding-left:7%;
      }
      &.work-fun{
        padding-left:8%;
      }
    }
  }
}

#simple_page{
  padding-bottom:3em;
  section{
    .split{
      .push(1);
      .column(5,10);
      ul{
      list-style-type:square;
      margin-left:2em;
      }
      ul li{
        margin-bottom:.25em;
      }
      margin-bottom:0.5em;
    }
  }
}
#management_team{  overflow:hidden;}
#who_we_are_team {


  .team_subcategory > li {

    & > h1 {
      .size(10);
      color: @nic_orange;
    }
  }

  @media screen and (min-width:33em) {
    .team_subcategory  > li {
      width: 50%;
      float: left;
    }
  }
  @media screen and (min-width:50em) {
    .team-links {
      position: absolute;
    }
    .team_subcategory {
      padding-left: 17em;
      padding-top:  6px;
    }
  }
}
