{% assign count = '' %}
{% for post in site.posts %}	
{% for tag in post.tags %}
{% for page_tag in page.tags %}
{% if tag == page_tag and post.id != page.id and count.size < 5 and post.categories[0] == 'blogs' %}
{% capture count %}{{ count }}*{% endcapture %}
{% endif %}
{% endfor %}			
{% endfor %}			
{% endfor %}			

{% if count.size > 0 %}
<h1>Related Blogs</h1>
<ul>
  {% assign count = '*' %}
  {% for post in site.posts %}	
  {% for tag in post.tags %}
  {% for page_tag in page.tags %}
  {% if tag == page_tag and post.id != page.id and count.size < 5 and post.categories[0] == 'blogs' %}
  <li>
    {% include post-list-item.html %}
  </li>
  {% capture count %}{{ count }}*{% endcapture %}
  {% endif %}
  {% endfor %}			
  {% endfor %}			
  {% endfor %}			
</ul>
{% endif %}
