<!DOCTYPE html>

{% include head-tag.html %}
</head>
  <body>
    <header id="main">
    {% include header.html %}
    </header>
    <section class="all_content">
      <div class="blogs">
        <header>
          <h1>{{ page.title }}</h1>
        </header>
      {% for post in page.posts %}
        <article class='no-author'>
        {% if post.images %}
          <img class='lead-image' src="{{ post.images[0].url | render_news_img_thumbnail }}" />
          <div class="blog-info has-image">{% include news/news-list-item.html %}</div>
        {% else %}
          <div class="blog-info">{% include news/news-list-item.html %}</div>
        {% endif %}
        </article>
      {% endfor %}
      {{page | paginate:"news"}}
      </div>
      <aside>
        <ul class='sharing-links'>
          <li class='icon rss'><a href='/news/index.xml' target='_blank'>Subscribe</a></li>
        </ul>
      </aside>
    </section>
    {% include footer.html %}
  </body>
</html>