<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  
  <title>{{ page.title }} - {{ page.categories[1] | replace:'_',' ' }}</title>
</head>
<body>
  <header id="main">
    {% include header.html %}
  </header>

  <section class="all_content">
    <div class="blogs">
    <header><h1>{{ page.title }}</h1></header>
    {{ content }}
    </div>
    <aside>
      <h1 class='filter-title' > Filters</h1>
      <a href='#' class='clear-filters' >Clear Filters</a>
      <h1>{{page.title}} by Author</h1>
      <ul class='filter-list'>
      {%for cat in site.categories %}
        {% case cat[0] %}
          {% when 'blogs' or 'techtalks' or 'news' or 'speaking' %}
             
          {% else %}
          <li><a href='#' class='author-filter'>{{cat[0]}}</a></li>
        {% endcase %}
        {%endfor%}
      </ul>
      <h1>{{page.title}} by Tags</h1>
      <ul class='filter-list'>
      {%for tag in site.tags %}
        <li><a href='#' class='tag-filter'>{{tag[0]}}</a></li>
      {%endfor%}
      </ul>
    </aside>
  </section>

  {% include footer.html %}
</body>
</html>
