<!DOCTYPE html>

{% include head-tag.html %}
</head>
  <body>
    <header id="main">
    {% include header.html %}
    </header>
    <section class="all_content">
      <div class="blogs">
        <header>
          <h1>{{ page.title }}</h1>
        </header>
      {% for post in page.posts %}
        <div class='parent' data-url='{{ post.url }}'>
          <div class='child'>
            <article>
              <a class='portrait-link' href="/blogs/{{ post.categories[1]}}"><img class='blog-img' src="{{ post.categories[1] | user_image }}"/></a>
              <div class="blog-info">{% include post-list-item-with-tags.html %}</div>
            </article>
          </div>
        </div>
      {% endfor %}
      {{page | paginate_talks}}
      </div>
      <aside>
        <h1>TECH TALKS BY SPEAKER</h1>
        <ul>
          {{site | techtalks_authors_list}}
        </ul>
        <h1>TECH TALKS BY TAG</h1>
        <ul>
          {{site | techtalks_tags_list}}
        </ul>
      </aside>
    </section>
    {% include footer.html %}
  </body>
</html>
