<!DOCTYPE html>

  {% include head-tag.html %}
    <title>{{ page.title }} - {{ page.categories[1] | replace:'_',' ' }}</title>
  </head>
  <body>
    <header id="main">
      {% include header.html %}
    </header>
    <section class="dynamic_content">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
        </header>
        {{ content }}
      </article>
      <aside>
        {% include users/sidebar-link.html %}

        {% assign type = 'blog' %}
        {% include sharing.html %}
        {% assign type = '' %}

        {% include users/recent_blogs.html %}
        {% include blogs/with_same_tags.html %}
      </aside>
    </section>
    {% include footer.html %}
  </body>
</html>
