<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
	
	<title>{{ page.title }}</title>
</head>
<body>
  <header id="main" class="homepage bigdata">
    {% include header.html %}
    <article class="bigdata">
      <h1>BIG DATA</h1>
      <h2>
      {% capture impact_bigdata %}{% include homepage/impact_bigdata.md %}{% endcapture %}
      {{ impact_bigdata | unindent | markdownify }}
      </h2>
    </article>
    <article class="mobile">
      <h1>MOBILE</h1>
      <h2>
      {% capture impact_mobile %}{% include homepage/impact_mobile.md %}{% endcapture %}
      {{ impact_mobile | unindent | markdownify }}
      </h2>
    </article>
    <article class="trustedapps">
      <h1>TRUSTED APPS</h1>
      <h2>
      {% capture impact_trustedapps %}{% include homepage/impact_trustedapps.md %}{% endcapture %}
      {{ impact_trustedapps | unindent | markdownify }}
      </h2>
    </article>
    <article class="joinus">
      <h1>JOIN US</h1>
      <h2>
      {% capture impact_joinus %}{% include homepage/impact_joinus.md %}{% endcapture %}
      {{ impact_joinus | unindent | markdownify }}
      </h2>
    </article>
    <figure><div></figure>
    <section class="article-links">
      <a class="bigdata" href="#">Big Data</a>
      <a class="mobile" href="#">Mobile</a>
      <a class="trustedapps" href="#">Trusted Apps</a>
      <a class="joinus" href="#">Join Us</a>
    </section>
    <ol class="nextprev">
      <li class="previous"><a href="#">&lt;</a></li>
      <li class="next"><a href="#">&gt;</a></li>
    </ol>
  </header>

  {{ content }}

  {% include footer.html %}
  <script>
    (function() {
      var classes = [
        'bigdata',
        'mobile',
        'trustedapps',
        'joinus'
        ], index = 0;

      function move(direction) {
        index += direction

        // Wrap around if negative
        if (index < 0) 
          index = classes.length - 1

        var newClass = classes[index % classes.length]
        $('#main').removeClass(classes.join(' ')).addClass(newClass)
      }
      function show(impactItem) {
        $('#main').removeClass(classes.join(' ')).addClass(impactItem)
      }

      // User events for changing impact item
      $('#main').on('click', '.article-links a, .nextprev a', function(e) {
        clearInterval(timer);
        if (classes.indexOf(this.className) > -1) {
          show(this.className);
        } else {
          var className = $(this).parent()[0].className;
          if (className == 'next')
            move(1)
          else
            move(-1)
        }
      });


      // Cycle through the impact items
      var timer;
      function startSlideshow() {
        clearInterval(timer);
        timer = window.setInterval(function() {
          if (document.body.scrollTop < 200)
            move(1);
          }, {{ page.impact_duration_seconds }} * 1000);
      }
      $(window).on('blur', function() {
        clearInterval(timer);
      }).on('focus', function() {
        startSlideshow();
      });
      startSlideshow();
    })();
  </script>
</body>
</html>
