<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
	
	<title>{{ page.title }}</title>
</head>
<body>
  <header id="main" class="homepage">
    {% include header.html %}
    <article>
      <h1>MOBILE</h1>
      <h2>
      {% capture impact_mobile %}{% include homepage/impact_mobile.md %}{% endcapture %}
      {{ impact_mobile | unindent | markdownify }}
      </h2>
      <img class="article-links" src="assets/images/dots.png"/>
    </article>
    <figure><div></figure>
    <ol class="nextprev">
      <li class="previous">&lt;</li>
      <li class="next">&gt;</li>
    </ol>
  </header>

  {{ content }}

  {% include footer.html %}
  <script src="/assets/js/app.js"></script>
</body>
</html>
