<!DOCTYPE html>

{% assign rss_feed = '/index.xml' %}
{% include head-tag.html %}
</head>
<body>
  <header id="main" class="homepage bigdata end-transition disable-animation">
    {% include header.html %}
    <article class="bigdata">
      <h1>BIG DATA</h1>
      <h2 class="impact-text">
      {% include_markdown homepage/impact_bigdata.md %}
      </h2>
    </article>
    <article class="mobile">
      <h1>MOBILE</h1>
      <h2 class="impact-text">
      {% include_markdown homepage/impact_mobile.md %}
      </h2>
    </article>
    <article class="trustedapps">
      <h1>TRUSTED APPS</h1>
      <h2 class="impact-text">
      {% include_markdown homepage/impact_trustedapps.md %}
      </h2>
    </article>
    <article class="joinus">
      <h1>JOIN US</h1>
      <h2 class="impact-text">
      {% include_markdown homepage/impact_joinus.md %}
      </h2>
    </article>
    <figure class="bigdata"><div></div></figure>
    <figure class="mobile"><div></div></figure>
    <figure class="trustedapps"><div></div></figure>
    <figure class="joinus"><div></div></figure>
    <section class="article-links">
      <a class="bigdata" href="#">Big Data</a>
      <a class="mobile" href="#">Mobile</a>
      <a class="trustedapps" href="#">Trusted Apps</a>
      <a class="joinus" href="#">Join Us</a>
    </section>
    <ol class="nextprev">
      <li class="previous"><a href="#">&lt;</a></li>
      <li class="next"><a href="#">&gt;</a></li>
    </ol>
  </header>

  {{ content }}

  {% include footer.html %}
  <script>
    (function() {
      var classes = [ 'bigdata', 'mobile', 'trustedapps', 'joinus' ],
          index = 0;

      $('#main article').on('webkitTransitionEnd', function() {
        $('#main').addClass('end-transition disable-animation');
      });

      // Move forward "1" or backward "-1" one place
      function move(direction) {
        var newIndex = (index + direction)
        if (newIndex < 0) newIndex = classes.length - 1

        show(classes[newIndex % classes.length]);
      }
      // Show specific impact item
      function show(impactItem) {
        var previousIndex = index;
        var previousClass = classes[index % classes.length]
        index = $.inArray(impactItem, classes);
        var newClass = classes[index % classes.length]
        var el = $('#main')[0];

        if (previousIndex < index) {
          // Move to right
          if ($(el).hasClass('expanded')) {
            el.className = 'homepage expanded ' + newClass + ' ' + previousClass + '_left';
          }
          else {
            el.className = 'homepage ' + newClass + ' ' + previousClass + '_left';
          }
        } else {
          // Move to left

          // Start by aligning the previous to the left
          if ($(el).hasClass('expanded')) {
            el.className = 'homepage expanded disable-animation ' + newClass + '_left ' + previousClass;
          }
          else {
            el.className = 'homepage disable-animation ' + newClass + '_left ' + previousClass;
          }
          // Kick off the new animation
          setTimeout(function() {
            if ($(el).hasClass('expanded')) {
              el.className = 'homepage expanded ' + newClass + '_left ' + newClass;
            }
            else {
              el.className = 'homepage ' + newClass + '_left ' + newClass;
            }
          }, 10);
        }
      }

      var timer;
      // User events for changing impact item
      $('#main').on('click', '.article-links a, .nextprev a', function(e) {
        if (timer) clearInterval(timer);
        if ($.inArray(this.className, classes) >= 0) {
          show(this.className);
        } else {
          var className = $(this).parent()[0].className;
          if (className == 'next')
            move(1)
          else
            move(-1)
        }
        e.preventDefault();
      });

      // Cycle through the impact items
      function startSlideshow() {
        clearInterval(timer);
        timer = window.setInterval(function() {
          if (document.body.scrollTop < 200)
            move(1);
          }, {{ page.impact_duration_seconds }} * 1000);
      }
      $(window).on('blur', function() {
        clearInterval(timer);
      }).on('focus', function() {
        startSlideshow();
      });
      startSlideshow();

    })();
  </script>
</body>
</html>
