<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
	
	<title>{{ page.name }}</title>
</head>
<body>
  <header id="main">
    {% include header.html %}
  </header>

  <section class="dynamic_content">
    <article>
    <header>
      <img src="{{ page.user | user_image}}"/>
      <h1>{{ page.name }}</h1>
    </header>
    {{ content }}
    </article>
    <aside class="links">
      {% include blogs/bio_side.html %}
    </aside>
  </section>


  {% include footer.html %}
</body>
</html>
