<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css" />
	
  <title>{{ page.title }} - {{ page.categories[1] | replace:'_',' ' }}</title>
</head>
<body>
  <header id="main">
    {% include header.html %}
  </header>

  <section class="dynamic_content">
    <article>
    <header><h1>{{ page.title }}</h1></header>
    {{ content }}
    </article>
    <aside>
      {% include users/sidebar-link.html %}

      {% include sharing.html %}
      {% include users/recent_blogs.html %}
    </aside>
  </section>

  {% include footer.html %}
</body>
</html>
