<!DOCTYPE html>

{% include head-tag.html %}
</head>
<body>
  <header id="main" {% if page.impact %}class="homepage impact-item end-transition disable-animation {{ page.impact.class }}"{% endif %}>
    {% include header.html %}
    {% if page.impact %}
      <article class="impact-item {{ page.impact.class }}">
        <h1>{{ page.impact.title }}</h1>
        <h2>{{ page.impact.text }}</h2>
      </article>
      <figure class="impact-item"><div style="background:{{ page.impact.background }}"></div></figure>
    {% endif %}
  </header>
  <section {% if page.section_id %}id="{{ page.section_id }}"{% endif %} class="static_content">
    {{ content }}
  </section>
  {% include footer.html %}
</body>
</html>
