<!DOCTYPE html>

{% include head-tag.html %}
</head>
<body>
  <header id="main">
    {% include header.html %}
  </header>

  <section class="all_content">
    <div class="blogs">
    <header><h1>{{ page.tag_key }}</h1></header>
    {{page | paginate_tags}}
    {% for post in page.posts %}
      <article>
        <a class='portrait-link' href="/blogs/{{ post.categories[1]}}"><img class='blog-img' src="{{ post.categories[1] | user_image }}"/></a>
        <div class="blog-info">{% include post-list-item-with-tags.html %}</div>
      </article>
    {% endfor %}
    {{page | paginate_tags}}
    </div>
    <aside>
      {%capture blog_content %}{{'blogs' | render_posts_by_tag:page.tag_key amount:5}}{% endcapture %}
      {%capture speaking_content %}{{'speaking' | render_posts_by_tag:page.tag_key amount:5}}{% endcapture %}
      {%capture techtalk_content %}{{'techtalks' | render_posts_by_tag:page.tag_key amount:5}}{% endcapture %}
      {% if page.type != 'blogs' and blog_content.size > 0 %}
      <h1>{{page.tag_key}} Blogs</h1>
      <ul>
        {{blog_content}}

      </ul>
      {%endif%}

      {% if page.type != 'speaking' and speaking_content.size > 0 %}
      <h1>{{page.tag_key}} Speaking Engagements</h1>
      <ul>

        {{speaking_content}}
      </ul>
      {%endif%}

      {% if page.type != 'techtalks' and techtalk_content.size > 0%}
      <h1>{{page.tag_key}} Tech Talks</h1>
      <ul>
        {{techtalk_content}}
      </ul>
      {%endif%}
    </aside>
  </section>

  {% include footer.html %}
</body>
</html>
