<!DOCTYPE html>

{% include head-tag.html %}
</head>
<body>
  <header id="main">
    {% include header.html %}
  </header>

  <section class="all_content">
    <div class="blogs">
    <header><h1>{{ page.tag }}</h1></header>
    {% for post in page.posts %}
      <article>
        <a href="{{post.url}}"><img class='blog-img' src="{{ post.categories[1] | user_image }}"/></a>
        <div class="blog-info">{% include post-list-item-with-tags.html %}</div>
      </article>
    {% endfor %}
    </div>
    <aside>
      {% if page.type != 'blogs'%}
      <h1>{{page.tag}} Blogs</h1>
      <ul>
        {{'blogs' | render_posts_by_tag:page.tag amount:5}}

      </ul>
      {%endif%}

      {% if page.type != 'speaking'%}
      <h1>{{page.tag}} Speaking Engagements</h1>
      <ul>

        {{'speaking' | render_posts_by_tag:page.tag amount:5}}
      </ul>
      {%endif%}

      {% if page.type != 'techtalks'%}
      <h1>{{page.tag}} Tech Talks</h1>
      <ul>
        {{'techtalks' | render_posts_by_tag:page.tag amount:5}}
      </ul>
      {%endif%}
    </aside>
  </section>

  {% include footer.html %}
</body>
</html>
