<!DOCTYPE html>

{% include head-tag.html %}
    <title>{{ page.title }} - {{ page.categories[1] | replace:'_',' ' }}</title>
  </head>
  <body>
    <header id="main">
      {% include header.html %}
    </header>

    <section class="dynamic_content">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
        </header>
        {% include video.html %}
        {{ content }}

        {% include comments.html %}
      </article>
      <aside>
        {% include users/sidebar-link.html %}

        {% assign type = 'tech talk' %}
        {% include sharing.html %}
        {% assign type = '' %}

        {% include users/recent_blogs.html %}
      </aside>
    </section>

    {% include footer.html %}
    {% include comments-js.html %}
  </body>
</html>
