<!DOCTYPE html>

{% include head-tag.html %}
</head>
  <body>
    <header id="main">
    {% include header.html %}
    </header>
    <section class="all_content">
      <div class="blogs">
        <header>
          <h1>{{ page.title }}</h1>
        </header>
      {% for post in page.posts %}
        <article>
          <a class='portrait-link' href="/blogs/{{ post.categories[1]}}">{{ site | user_image:post.categories[1], "blog-img" }}</a>
          <div class="blog-info">{% include post-list-item-with-tags.html %}</div>
        </article>
      {% endfor %}
      {{page | paginate_user:page.url}}
      </div>
      <aside class="links">
        {% if page.type == 'blogs' %}
          <ul class='sharing-links'>
            <li class='icon rss'><a href='../rss/index.xml' target='_blank'>Subscribe</a></li>
          </ul>
        {% endif %}
        {% if page.type != 'blogs' %}
          {% include users/recent_blogs.html %}
        {% endif %}

        {% if page.type != 'techtalks' %}
          {% include users/recent_tech_talks.html %}
        {% endif %}

        {% if page.type != 'speaking' %}
          {% include users/future_speaking.html %}
        {% endif %}

        {% if page.type != 'published_works' %}
          {% include users/recent_published_works.html %}
        {% endif %}
      </aside>
    </section>
    {% include footer.html %}
  </body>
</html>
